body { width: 1080px; margin: 30px auto 0; }

body, div, h1, h2, h3, p, th, td, li, dd {
  font-family: "Nunito Sans", sans-serif;
}

.container { position: relative; overflow: hidden; }

#header { width: 1080px; height: 200px; position: relative;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-bottom: 20px; }
#header img { margin: 0; border: none; }
#cclogo { position: absolute; left: 35px; top: 32px; }
#cclogo img { width: 144px; height: 132px; }
#ccbanner { position: absolute; left: 302px; top: 10px; }
#ccbanner img { width: 480px; height: 184px; }
#ccmenu { position: absolute; display: none; font-size: 8px; line-height: 1em; }
#ccmenu.off .openmenu { display: block; }
#ccmenu.on .openmenu { display: none; }
#ccmenu.off .closemenu { display: none; }
#ccmenu.on .closemenu { display: block; }

#nav { float: left; width: 186px; margin: 0 15px; }
#nav ul { list-style: none; margin: 0; padding: 0; }
#nav ul li { margin: 0 0 1em 1em; text-indent: -1em; padding: 0; font-weight: bold; font-size: 80%; }
#nav ul.admin { padding-top: 1em; border-top: 1px solid black; }
#nav ul.admin li a { color: #FB0042; text-decoration: none; }
#nav ul.admin li a:hover { color: #FB0042; text-decoration: underline; }
#nav ul.admin li a:visited { color: #FB0042; text-decoration: none; }

ul.viewnav { list-style: none; margin: 0 0 1em 0; padding: 0; text-align: center; }
ul.viewnav li { display: inline; margin: 0; padding: 0 0.5em; font-weight: normal; font-size: 70%; }
ul.viewnav li a { color: #FB0042; text-decoration: none; }
ul.viewnav li a:hover { color: #FB0042; text-decoration: none; }
ul.viewnav li a:visited { color: #FB0042; text-decoration: none; }
ul.viewnav li.selected a { font-weight: bold; }
ul.viewnav li.selected a:hover { text-decoration: none; }

#content { float: left; width: 618px; margin: 0 15px; }
#content b, #content strong { color: #157d15; }

#footer { width: 1080px; margin: 2em 0 30px; padding-top: 1em; }
#footer p { font-style: italic; font-size: 80%; line-height: 1.333em; text-align: center; color: #666; }

h1 { font-size: 180%; line-height: 1.333em; font-weight: bold; color: #157d15; margin: 0 2em 1em 2em; text-align: center; }
h2, h3 { font-size: 100%; line-height: 1.333em; font-weight: bold; color: #157d15; text-transform: uppercase; letter-spacing: 0.075em; }
h2 { margin: 2em 0 1.5em; padding: 2px; border-bottom: 1px solid #c4e5c4; }
h2 { background-image: url(/images/green-gradient.gif); background-repeat: repeat-x; background-position: bottom; }
h2:first-child { margin-top: 0; }
h3 { margin: 0 0 1em; }

p { line-height: 1.333em; margin: 0 0 0.75em 0; }
p.subhead { font-weight: bold; line-height: 1.5em; text-align: center; margin: 0 2em 1em 2em; }
p.subhead2 { font-style: italic; line-height: 1.5em; text-align: center; margin: 0 2em 1em 2em; }
p.center { line-height: 1.5em; text-align: center; margin: 0 2em 1em 2em; }
p.position { margin: 1.5em 2em; text-indent: -2em; }
p.needed { margin: 1.5em 2em; font-style: italic; }

.nobreak { white-space: nowrap; }

#content img { margin: 0 0 1.5em 0; }
#dinnertable { float: right; margin: 0.2em 0 0 1.5em; }

ul { list-style-type: square; }
ul, ol { margin: 0 0 1.5em 0; padding: 0 0 0 3em; line-height: 1.333em; }
li p { margin: 0 0 0.5em 0; }
ul.benefits { list-style-type: none; font-weight: bold; margin: 0; padding: 0; }
ul.benefits ul { font-weight: normal; }

dt { font-weight: bold; color: #142690; margin: 1em 0 0 0; line-height: 1.333em; }
dd { margin: 0 0 1em 2em; line-height: 1.333em; }

a { color: #058805; text-decoration: none; }
a:hover { color: #058805; text-decoration: underline; }
a:visited { color: #058805; text-decoration: none; }

.sponsortab { margin: 0 -5px; }
.sponsortab h3 { text-align: center; margin: 10px 0; }
.sponsorlevel { float: left; width: 290px; margin: 10px 10px; }
.sponsorlevellong { min-height: 19em; }
.sponsorlevelmedium { min-height: 16em; }
.sponsorlevelshort { min-height: 8em; }
.sponsorlevel { background-color: #e7fbe7; border: 1px solid #c4e5c4; }
.sponsorlevel table { border: none; width: 100%; margin: 0; }
.sponsorlevel table tr { vertical-align: top; }
.sponsorlevel table td { border: none; padding: 0.333em 0.25em; font-size: 90%; }
.sponsorlevel table td.price { text-align: right; }
.sponsorlevel table td.desc { padding: 0 0.5em 0.333em 0.5em; text-align: center; font-size: 75%; font-style: italic; color: #777; }

div.form { margin: 2em 0; }

.volunteer ul { list-style: none; display: block; padding: 0; }
.volunteer ul li { margin: 1em 0 0 0; padding: 0; }
.volunteer ul li p { margin: 0; }
.volunteer ul ul { list-style-type: square; margin: 0; padding-left: 2em; }
.volunteer ul ul li { margin: 0 0 0 1em; padding: 0; }

.editcontenttable th { font-size: 80%; line-height: 1.2em; font-weight: bold; }
.editcontenttable td { font-size: 80%; line-height: 1.2em; }

.maxupload { font-size: 80%; font-style: italic; }

/* IE6 hacks */
* html .container { display: inline-block; }

/* Pages that need to use the full width for content */
#container.wide { overflow: visible; }
.wide #ccmenu { display: block; left: 2.5%; top: -50px;
  width: 20px; height: 18px; background-color: #f0fff0; z-index: 2;
  font-size: 16px; text-align: center; padding-top: 2px; }
.wide #nav { float: none; position: absolute; left: -50vw; top: 0;
  padding: 1.8%; margin: 0;
  background-color: #e0ffe0; z-index: 2;
  transition: left 0.5s; 
  -webkit-transition: left 0.5s; }
.wide #content { float: left; width: 95%; margin: 0 2.5%; font-size: 80%; z-index: 1; }
.wide h2 { text-align: center; }

/* Responsive design */
@media only screen and (min-width: 865px) and (max-width: 1080px) {
  body { width: 100%; margin: 30px 0 0; }
  #header { width: 96%; margin: 0 2% 20px; }
  #footer { width: 96%; margin: 2em 2% 30px; }
}

@media only screen and (min-width: 501px) and (max-width: 864px) {
  body { width: 100%; margin: 30px 0 0; }
  #header { width: 95%; margin: 0 2.5% 20px; height: 100px; }
  #footer { width: 95%; margin: 2em 2.5% 30px; font-size: 64%; }
  #cclogo { left: 12.5%; top: 16px; }
  #cclogo img { position: absolute; left: -40px; width: 72px; height: 66px; }
  #ccbanner { left: 62.5%; top: 5px; }
  #ccbanner img { position: absolute; left: -120px; width: 240px; height: 92px; }
  #nav { width: 20%; margin: 0 2.5%; font-size: 80%; }
  #content { width: 70%; margin: 0 2.5%; font-size: 80%; }
  .sponsorlevel { width: 250px; margin: 10px 10px; }
}

@media only screen and (max-width: 500px) {
  body { width: 100%; margin: 30px 0 0; }
  #header { width: 95%; margin: 0 2.5% 20px; height: 100px; }
  #footer { width: 95%; margin: 2em 2.5% 30px; font-size: 64%; }
  #cclogo { left: 2.5%; top: 10px; z-index: 2; }
  #cclogo img { position: absolute; left: 0; width: 36px; height: 33px; }
  #ccbanner { left: 50%; top: 5px; z-index: 1; }
  #ccbanner img { position: absolute; left: -120px; width: 240px; height: 92px; }
  #container.withsidebar { overflow: visible; }
  #ccmenu { display: block; left: 2.5%; top: -50px;
    width: 20px; height: 18px; background-color: #f0fff0; z-index: 2;
    font-size: 16px; text-align: center; padding-top: 2px; }
  #nav { font-size: 70%; }
  #nav, .wide #nav { float: none; position: absolute; left: -53.6%; top: 0;
    width: 50%; padding: 1.8%; margin: 0;
    background-color: #e0ffe0; z-index: 2;
    transition: left 0.5s; 
    -webkit-transition: left 0.5s; }
  #content { float: left; width: 95%; margin: 0 2.5%; font-size: 80%; z-index: 1; }
  .wide #content { overflow-x: scroll; }
}

@media print {
  #ccmenu, #nav { visibility: hidden; }
  .wide #nav, .viewnav { visibility: visible; display: none; }
}