p.message { font-weight: bold; color: red; margin: 0 0 0.5em 0; }

p.important { font-weight: bold; }

.register-checklist ul { list-style: none; margin: 0 0 0.75em 1em; padding: 0; }

.form { position: relative; overflow: hidden; width: 100%; }

/* Don't display GO campaign discount box. */
#gobox { display: none; }

.form-section { margin: 0 0 1em 0; padding: 0.5em; overflow: hidden; background-color: #e7fbe7; }
.form-submit-section { margin: 0 0 1em 0; padding: 0.5em; overflow: hidden; }

.form-section h2 { background: none; border: none; margin: 0 0 0.5em 8em; }
.form-section p { margin: 0 0 0.5em 8em; text-align: left; color: #555; }

.form-entry, .form-entry-left { float: left; width: 100%; overflow: hidden; }
/* .form-entry-left { float: left; width: 60%; } */
.form-entry-right { float: left; width: 40%; }

.form label { display: block; float: left; width: 8em;
	text-align: right; margin: 0.2em 0 0.5em -8.5em;
	font-size: 90%; line-height: 1.1em; color: #555;
	white-space: normal; }
.form label.above { float: none; width: auto; text-align: left; margin: 0.5em 0; }
.form label.right { display: inline; float: none; width: auto;
	text-align: left; margin: 0.2em 0 0 0;
	white-space: normal; }
.form-gender li label { display: inline; float: none; width: auto; text-align: left; margin: 0.5em 0; white-space: nowrap; }
label.sold { color: #999; }

/* .form-input { white-space: nowrap; } */
.form-input { white-space: normal; }
.form-input, .form-button { margin: 0 0 0.5em 8em; }
.form-text .form-input input { width: 15em; }
.form-text .form-input input.form-submit { width: auto; }
.form-text .form-input input.form-first-name { width: 10em; }
.form-text .form-input input.form-last-name { width: 15em; }
.form-text .form-input input.form-city { width: 10em; }
.form-text .form-input input.form-state { width: 5em; }
.form-text .form-input input.form-zip { width: 5em; }
.form-text .form-input input.form-prefs { width: 25em; }
.form-phone .form-input input { width: 10em; }
.form-number .form-input input { width: 5em; }
.form-dollars .form-input input { width: 6em; }

.form ul { display: inline; list-style: none; margin: 0; padding: 0; }
.form li { display: inline; padding: 0 0.5em; }

.form-gender ul { display: inline; list-style: none; margin: 0; padding: 0; }
.form-gender li { display: inline; padding: 0 0.25em; }

.form-column-container { margin: 0 0 0 8em; clear: both; overflow: hidden; }
.form-column { float: left; margin: 0; width: 50%; }
.form-column-right { margin-right: 0; }
.form-column h3 { float: left; width: 100%; margin: 1em 0 0.5em 0; font-style: italic; text-transform: none; letter-spacing: 0; }

.form-checkbox .form-input { margin-left: 10em; }
.form-column .form-checkbox .form-input { margin-left: 2em; }

.form-checkbox .checkbox-container { float: left; width: 2em; margin: 0.1em 0 0 -2em; }
.form .form-checkbox label.right { margin: 0; }

.form-column .form-input, .form-column .form-button { margin-left: 0; }

/* IE6 hacks */
* html .form-section,
* html .form-entry,
* html .form-entry-left,
* html .form-entry-right,
* html .form label,
* html .form-column { display: inline-block; }
* html .form-column .form-checkbox label.right { display: inline; float: none; }
* html .form-input { overflow: hidden; }
* html .checkbox-container .form-input { display: inline-block; }
* html .form-checkbox .checkbox-container { float: none; display: inline; }
* html .form-input label.above { display: block; }
* html .form-checkbox label.right { display: inline; float: none; margin: 0; }

/* Responsive design */
@media only screen and (min-width: 361px) and (max-width: 600px) {
  .form-section h2 { margin-left: 5em; }
  .form-section p { margin-left: 5em; }
  .form-input, .form-button { margin-left: 5em; }
  .form label { width: 5em; margin-left: -5.5em; }
  .form-text .form-input input.form-first-name { width: 8em; }
  .form-text .form-input input.form-last-name { width: 12em; }
  .form-column-container { margin-left: 5em; }
  .form-checkbox .form-input { margin-left: 7em; }
}

@media only screen and (max-width: 360px) {
  .form-section h2 { margin-left: 5em; }
  .form-section p { margin-left: 5em; }
  .form-input, .form-button { margin-left: 5em; }
  .form label { width: 5em; margin-left: -5.5em; }
  .form-text .form-input input.form-first-name { width: 6em; }
  .form-text .form-input input.form-last-name { width: 10em; }
  .form-text .form-input input.form-city { width: 8em; }
  .form-text .form-input input.form-state { width: 4em; }
  .form-text .form-input input.form-zip { width: 4em; }
  .form-column-container { margin-left: 5em; }
  .form-checkbox .form-input { margin-left: 7em; }
}
