{% extends "base.html" %}

{% block title %}Admin: Detail Pages{% endblock %}

{% block content %}
<h2>Detail Pages</h2>

<form action="/admin/edit" method="post" accept-charset="utf-8">

<ul>

{% for page in pages %}
<li><p><a href="/{{ page.name }}.html">{{ page.name }}.html</a>: Published version {{ page.published_version }}{% if page.is_draft %}; Draft version {{ page.draft_version }}{% endif %} <input type="submit" name="edit{{ page.name }}" value="Edit"></p></li>
{% endfor %}

</ul>

</form>
{% endblock %}
