<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Celebration Classic&trade; Admin: Edit Page Content</title>
	<link rel="stylesheet" href="http://www.shirhadash.org/celebrationclassic/cc.css" type="text/css">
	<link rel="icon" href="/favicon.png" type="image/png">
<style type="text/css">
p.description { margin-bottom: 0.5em; }
.hints { font-size: 80%; color: #484848; }
.hints p { margin-bottom: 0; }
.hints ul { margin: 0 0 1.5em 0; padding: 0 0 0 1.5em; }
.hints code { color: #157d15; }
#preview { width: 100%; border: 1px solid #c4e5c4; padding: 10px; margin: 0 -11px 30px; }
</style>
</head>
<body>

<div id="header">

<h1><a href="/index.html"><img id="cclogo" src="http://www.shirhadash.org/celebrationclassic/images/CCGolfLOGO_3_144.gif" alt="" width="144" height="132"></a>
<img id="ccbanner" width="477" height="184" src="http://www.shirhadash.org/celebrationclassic/images/SSFJ-Presents.gif" alt="Stephen Silver Fine Jewelry Presents the Celebration Classic">
<a href="http://www.stephensilverfinejewelry.com"><img id="ssfjlogo" width="216" height="99" src="http://www.shirhadash.org/celebrationclassic/images/SSFJ-stacked-logo.gif" alt=""></a></h1>

</div> <!-- header -->

<div class="container">

<div id="nav">
<ul>
	<li><a href="/index.html">Home</a></li>
	<li><a href="/details.html">Tournament Details</a></li>
	<li><a href="/register">Register</a></li>
	<li><a href="/sponsor.html">Sponsorship Opportunities</a></li>
	<li><a href="/volunteer.html">Volunteer Information</a></li>
	<li><a href="/auction.html">Live Auction</a></li>
	<li><a href="/map.html">Maps and Directions</a></li>
	<li><a href="/admin/view/sponsors">View Registrations</a></li>
	<li><a href="/admin/view/golfers">View Golfers</a></li>
	<li><a href="/admin/view/guests">View Dinner Guests</a></li>
</ul>
</div>

<div id="content">

{% load custom_filters %}

<h2>Edit {{ page.name }} Page</h2>

<form action="/admin/edit" method="post" accept-charset="utf-8">

<p><i>Last modified {{ page.last_modified }}
({% if page.draft %}Draft {% endif %}{% if page.preview %}Preview {% endif %}Version {{ page.version }})</i></p>

<p><label for="pagetitle">Title:</label> <input name="pagetitle" type="text" size="60" value="{{ page.title }}"></p>

<textarea rows="40" cols="80" name="pagecontent">{{ page.content }}</textarea>

<div class="hints">
<p>Formatting hints:</p>
<ul>
	<li>For a heading, type <code>##</code> at the start of the line</li>
	<li>For a new paragraph, type a blank line</li>
	<li>For a forced line break, type two spaces at the end of a line</li>
	<li>For a bullet list, type a blank line, then use <code>*</code> and a space at the beginning of each line</li>
	<li>For space between each bullet item, put a blank line between bullet items</li>
	<li>For <i>italics</i>, type <code>_italics_</code></li>
	<li>For <b>bold</b>, type <code>**bold**</code></li>
	<li>For links, type <code>[text of link](http://example.com/index.html)</code></li>
	<li>For email links, type <code>[name](mailto:someone@example.com)</code> or <code>&lt;someone@example.com&gt;</code></li>
	<li><a href="http://daringfireball.net/projects/markdown/basics" target="_blank">Full Markdown documentation...</a></li>
</ul>
</div>

<input type="hidden" name="name" value="{{ page.name }}">
<input type="hidden" name="version" value="{{ page.version }}">
<input type="hidden" name="draft" value="{% if page.draft %}1{% else %}0{% endif %}">
<input type="hidden" name="preview" value="{% if page.preview %}1{% else %}0{% endif %}">

<p>
<input type="submit" name="previewbutton" value="Preview">
<input type="submit" name="savebutton" value="Save as Draft">
<input type="submit" name="publishbutton" value="Publish">
</p>

<h2>Preview</h2>

<div id="preview">
{{ page.content|markdown }}
</div> <!-- preview -->

</form>

</div> <!-- content -->

</div> <!-- container -->

</body>
</html>
