<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Celebration Classic&trade; Live Auction</title>
	<link rel="stylesheet" href="http://www.shirhadash.org/celebrationclassic/cc.css" type="text/css">
	<link rel="icon" href="/favicon.png" type="image/png">
<style type="text/css">
.intro { font-style: italic; }
#auctionitems { width: 100%; border: none; border-collapse: collapse; border-top: 2px solid #c4e5c4; }
#auctionitems tbody tr { border: none; border-top: 1px solid #c4e5c4; }
#auctionitems td.photo { padding: 1em 0; width: 200px; }
#auctionitems td.photo img { margin: 0; }
#auctionitems td.description { padding: 1em 0 1em 2em; }
#auctionitems td p { margin: 0 0 0.5em 0; }
</style>
</head>
<body>

<div class="container">

<div id="logo">
<a href="/index.html"><div class="homelink">Home</div><img src="http://www.shirhadash.org/celebrationclassic/images/CCGolfLOGO_3_144.gif" alt="Celebration Classic Home Page" width="144" height="132" border="0"></a>
</div>

<div id="banner">
<h1>Celebration Classic&trade; Dinner and Golf Tournament</h1>
<p class="subhead">May 6&ndash;7, 2012
<br>The Golf Club at Boulder Ridge
<br>San Jose, CA</p>
</div>

</div> <!-- container -->

<div class="container">

<div id="nav">
<ul>
	<li><a href="/details.html">Tournament Details</a></li>
	<li><a href="/register">Registration</a></li>
	<li><a href="/sponsor.html">Sponsorship Opportunities</a></li>
	<li><a href="/volunteer.html">Volunteer Information</a></li>
	<li>Live Auction</li>
	<li><a href="/map.html">Map and Directions</a></li>
</ul>
</div>

<div id="content">
<h2>Live Auction</h2>

{% if auction_items %}

<p class="intro">The Celebration Classic Live Auction
will feature ten fantastic items&mdash;including
some genuine once-in-a-lifetime offerings!
The auction will begin after dinner on Sunday, May 6.
Here is just a smattering of what you can expect&hellip;</p>

<table id="auctionitems">
<tbody>
{% for item in auction_items %}
	<tr valign="top">
		<td class="photo">
		{% if item.photo_url %}
		<img src="{{ item.photo_url|safe }}" alt="">
		{% else %}
		<p>(No photo available)</p>
		{% endif %}
		</td>
		<td class="description">
		{{ item.description|markdown }}
		</td>
	</tr>
{% endfor %}
</tbody>
</table>

{% else %}

<p>Coming soon: a preview of some of the items that will be available for auction
following dinner on Sunday, May 6.</p>

{% endif %}

</div> <!-- content -->

</div> <!-- container -->

<div id="footer">
<p>All proceeds from the Celebration Classic Dinner and Golf
Tournament will benefit <a href="http://www.shirhadash.org">Congregation Shir Hadash</a>
and its community programs, which are aimed at improving the
lives of many under-served populations in Santa Clara County.
These include the annual
<a href="http://www.shirhadash.org/tikkunolam/healthfair.html">Healthy Living Fair</a>,
which provides a wide array of health
services and screenings at no charge;
participation in interfaith Habitat for Humanity;
non-sectarian support for our community&rsquo;s elderly;
providing food and supplies to local shelters, and
school supplies to local children in need;
the <a href="http://shecc.org">Early Childhood Center</a>, which is open to all;
and the new <a href="http://www.shirhadash.org/jobs/index.html">Job Board</a>.</p>
</div>

</body>
</html>
