{% extends "base.html" %}

{% load custom_filters %}

{% block title %}Live and Silent Auctions{% endblock %}

{% block head %}
<style type="text/css">
.intro { font-style: italic; }
.auctionitems { width: 100%; border: none; border-collapse: collapse; border-top: 2px solid #c4e5c4; }
.auctionitems tbody tr { border: none; border-top: 1px solid #c4e5c4; }
.auctionitems td.photo { padding: 1em 0; width: 200px; }
.auctionitems td.photo img { margin: 0; }
.auctionitems td.photo p { margin: 0; font-size: 80%; color: #484848; text-align: center; }
.auctionitems td.description { padding: 1em 0 1em 2em; }
.auctionitems td p { margin: 0 0 0.5em 0; }
</style>
{% endblock %}

{% block content %}
<h2>Live Auction</h2>

<div class="intro">{{ live_intro|markdown }}</div>

<table id="liveauctionitems" class="auctionitems">
<tbody>
{% for item in live_auction_items %}
	<tr valign="top">
		<td class="photo">
		{% if item.image %}
		<img src="/img/{{ item.key.id }}" alt="" width="{{ item.image_width }}" height="{{ item.image_height }}">
		{% else %}
		<p>(No photo available)</p>
		{% endif %}
		</td>
		<td class="description">
		{{ item.description|markdown }}
		</td>
	</tr>
{% endfor %}
</tbody>
</table>

{% if silent_auction_items %}

<h2>Silent Auction</h2>

<div class="intro">{{ silent_intro|markdown }}</div>

<table id="silentauctionitems" class="auctionitems">
<tbody>
{% for item in silent_auction_items %}
	<tr valign="top">
		<td class="photo">
		{% if item.thumbnail_id %}
		<img src="/img/{{ item.key.id }}" alt="" width="{{ item.image_width }}" height="{{ item.image_height }}">
		{% else %}
		<p>(No photo available)</p>
		{% endif %}
		</td>
		<td class="description">
		{{ item.description|markdown }}
		</td>
	</tr>
{% endfor %}
</tbody>
</table>

{% endif %}
{% endblock %}
