<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Celebration Classic&trade; Live Auction</title>
	<link rel="stylesheet" href="http://www.shirhadash.org/celebrationclassic/cc.css" type="text/css">
	<link rel="icon" href="/favicon.png" type="image/png">
<style type="text/css">
.intro { font-style: italic; }
#auctionitems { width: 100%; border: none; border-collapse: collapse; border-top: 2px solid #c4e5c4; }
#auctionitems tbody tr { border: none; border-top: 1px solid #c4e5c4; }
#auctionitems td.photo { padding: 1em 0; width: 200px; }
#auctionitems td.photo img { margin: 0; }
#auctionitems td.photo p { margin: 0; font-size: 80%; color: #484848; text-align: center; }
#auctionitems td.description { padding: 1em 0 1em 2em; }
#auctionitems td p { margin: 0 0 0.5em 0; }
</style>
</head>
<body>

<div id="header">

<h1><a href="/index.html"><img id="cclogo" src="http://www.shirhadash.org/celebrationclassic/images/CCGolfLOGO_3_144.gif" alt="" width="144" height="132"></a>
<img id="ccbanner" width="477" height="184" src="http://www.shirhadash.org/celebrationclassic/images/SSFJ-Presents.gif" alt="Stephen Silver Fine Jewelry Presents the Celebration Classic">
<a href="http://www.stephensilverfinejewelry.com"><img id="ssfjlogo" width="216" height="99" src="http://www.shirhadash.org/celebrationclassic/images/SSFJ-stacked-logo.gif" alt=""></a></h1>

</div> <!-- header -->

<div class="container">

<div id="nav">
<ul>
	<li><a href="/index.html">Home</a></li>
	<li><a href="/details.html">Tournament Details</a></li>
	<li><a href="/register">Register</a></li>
	<li><a href="/sponsor.html">Sponsorship Opportunities</a></li>
	<li><a href="/volunteer.html">Volunteer Information</a></li>
	<li>Live Auction</li>
	<li><a href="/map.html">Maps and Directions</a></li>
</ul>
</div>

<div id="content">
<h2>Live Auction</h2>

{% load custom_filters %}

{% if auction_items %}

<p class="intro">The Celebration Classic Live Auction
will feature many fantastic items&mdash;including
some genuine once-in-a-lifetime offerings!
The auction will begin after dinner on Saturday, October 12.
Here is just a smattering of what you can expect&hellip;</p>

<table id="auctionitems">
<tbody>
{% for item in auction_items %}
	<tr valign="top">
		<td class="photo">
		{% if item.thumbnail_id %}
		<img src="/img/{{ item.thumbnail_id }}" alt="" width="{{ item.thumbnail_width }}" height="{{ item.thumbnail_height }}">
		{% else %}
		<p>(No photo available)</p>
		{% endif %}
		</td>
		<td class="description">
		{{ item.description|markdown }}
		</td>
	</tr>
{% endfor %}
</tbody>
</table>

{% else %}

<p>Coming soon: a preview of some of the items that will be available for auction
following dinner on Sunday, October 12.</p>

{% endif %}

</div> <!-- content -->

</div> <!-- container -->

</body>
</html>
