<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Celebration Classic&trade; {% block title %}{% endblock %}</title>
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,700i" rel="stylesheet">
	<link rel="stylesheet" href="/css/cc.css" type="text/css">
	<link rel="icon" href="/favicon.png" type="image/png">
	<script src="/js/menu.js" type="text/javascript" language="javascript"></script>
	<script type="text/javascript" language="javascript">
		window.addEventListener('load', function() {
			init_menu();
		});
	</script>
{% block head %}{% endblock %}
</head>
<body id="body">

{% block header %}
<div id="header">

<h1><div id="ccbanner"><img src="/images/CSH-Presents.png" alt="Congregation Shir Hadash Presents the Celebration Classic"></div></h1>
<div id="cclogo"><a href="/"><img src="/images/CCGolfLOGO_3_144.gif" alt="Home"></a></div>

</div> <!-- header -->
{% endblock %}

<div id="container" class="container {% block containerclass %}withsidebar{% endblock %}">

<div id="ccmenu" class="off"><div class="openmenu">&#9776;</div><div class="closemenu">&#10005;&#xfe0e;</div></div>

{% block nav %}
<div id="nav">
<ul>
{% ifequal page.name "home" %}
{% else %}
	<li><a href="/">Home</a></li>
{% endifequal %}
	<li><a href="/details">Dinner and Tournament Details</a></li>
	<li><a href="/register">Register</a></li>
	<li><a href="/auction">Auction</a></li>
	<li><a href="/raffle">Raffle</a></li>
	<li><a href="/map">Map and Directions</a></li>
	<li><a href="/sponsors">Sponsors</a></li>
	<li><a href="/sponsorships">Sponsorship Opportunities</a></li>
	<li><a href="/tribute">Tribute Opportunities</a></li>
	<li><a href="/volunteer">Volunteer Information</a></li>
</ul>

{% if capabilities.can_view_registrations or capabilities.can_update_auction or capabilities.can_edit_content or capabilities.can_update_sponsorships or capabilities.can_edit_tournament_properties %}
<ul class="admin">
{% if capabilities.can_view_registrations %}
	<li><a href="/admin/view/registrations">View Registrations</a></li>
	<li><a href="/admin/view/tribute">View Tribute Ads</a></li>
{% endif %}
{% if capabilities.can_update_auction %}
	<li><a href="/admin/auction">Edit Auction Page</a></li>
{% endif %}
{% if capabilities.can_edit_content %}
	<li><a href="/admin/edit">Edit Content</a></li>
{% endif %}
{% if capabilities.can_update_sponsorships %}
	<li><a href="/admin/sponsorships">Edit Sponsorships</a></li>
{% endif %}
{% if capabilities.can_edit_tournament_properties %}
	<li><a href="/admin/tournament">Tournament Properties</a></li>
{% endif %}
</ul>
{% endif %}
</div>
{% endblock %}

<div id="content">

<div>{% block subnav %}{% endblock %}</div>
<div>{% block content %}{% endblock %}</div>

</div>

</div> <!-- container -->

{% block footer %}
<div id="footer">
<p><a href="http://www.shirhadash.org/"><span class="nobreak">Congregation Shir Hadash</span></a>
<br><span class="nobreak">20 Cherry Blossom Lane, Los Gatos, CA 95032-4637</span>
&bull; <span class="nobreak">408-358-1751</span>
<br>The <span class="nobreak">Celebration Classic&trade; Dinner &amp; Golf Tournament</span>
benefits Shir&nbsp;Hadash and its community&nbsp;programs.
<span class="nobreak">Congregation Shir Hadash is a 501(c)(3) tax-exempt organization.</span></p>
</div>
{% endblock %}

</body>
</html>
