<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Celebration Classic&trade; Registration</title>
<link rel="stylesheet" href="http://www.shirhadash.org/celebrationclassic/cc.css" type="text/css">
<link rel="stylesheet" href="css/register.css" type="text/css">
<link rel="icon" href="favicon.png" type="image/png">
</head>
<body>

<div id="header">

<h1><a href="/index.html"><img id="cclogo" src="http://www.shirhadash.org/celebrationclassic/images/CCGolfLOGO_3_144.gif" alt="" width="144" height="132"></a>
<img id="ccbanner" width="477" height="184" src="http://www.shirhadash.org/celebrationclassic/images/SSFJ-Presents.gif" alt="Stephen Silver Fine Jewelry Presents the Celebration Classic">
<a href="http://www.stephensilverfinejewelry.com"><img id="ssfjlogo" width="216" height="99" src="http://www.shirhadash.org/celebrationclassic/images/SSFJ-stacked-logo.gif" alt=""></a></h1>

</div> <!-- header -->

<div class="container">

<div id="nav">
<ul>
	<li><a href="index.html">Home</a></li>
	<li><a href="details.html">Tournament Details</a></li>
	<li>Register</li>
	<li><a href="sponsor.html">Sponsorship Opportunities</a></li>
	<li><a href="volunteer.html">Volunteer Information</a></li>
	<li><a href="auction.html">Live Auction</a></li>
	<li><a href="map.html">Maps and Directions</a></li>
{% if capabilities.can_view_registrations %}
	<li><a href="/admin/view/sponsors">View Registrations</a></li>
	<li><a href="/admin/view/golfers">View Golfers</a></li>
	<li><a href="/admin/view/guests">View Dinner Guests</a></li>
{% endif %}
</ul>
</div>

<div id="content">
<h2>Golfer Information and Dinner Choices</h2>

<p>Complete your online registration by providing the golfer information and dinner choices below.</p>

<p>If you don&rsquo;t have all the information you need yet
(or you can&rsquo;t make up your mind about what to have for dinner),
don&rsquo;t panic&mdash;just <b><a href="/register?id={{ sponsor.id }}">bookmark this page!</a></b>
You can proceed to the checkout step and pay even if you
haven&rsquo;t completed this form.
After you&rsquo;ve paid, you can return to this page at any time,
as often as you wish&mdash;until the registration deadline&mdash;to change your selections.
Just remember to save your changes each time.
If you pay online, your registration receipt from Acceptiva will also contain a link back to this page.</p>

<p>YOUR REGISTRATION MUST BE COMPLETED BY SEPTEMBER 30, 2013.</p>

<p>If you have questions or need help with the registration process,
email <a href="mailto:help@celebrationclassic.org">help@celebrationclassic.org</a>.</p>

{% for m in messages %}
<p class="message">{{ m|escape }}</p>
{% endfor %}

<form action="/continue" method="post" accept-charset="utf-8">

<div id="continue-form" class="form">

<div class="form-section">

<h2>Sponsor/Contact</h2>

<div class="form-entry-left form-text">
<div class="form-input">
<label for="entry_name">Name</label>
<input type="text" name="name" value="{{ sponsor.name }}" id="entry_name" readonly>
</div>
</div>

<div class="form-entry-left form-text">
<div class="form-input">
<label for="entry_company">Company</label>
<input type="text" name="company" value="{{ sponsor.company }}" id="entry_company" readonly>
</div>
</div>

<input type="hidden" name="id" value="{{ sponsor.id }}">

</div> <!-- form-section -->

{% for golfer in golfers %}
<div class="form-section">

<h2>Golfer #{{golfer.sequence}}</h2>

<div class="form-entry-left form-text">
<div class="form-input">
<label for="entry_golfer_name{{ golfer.sequence }}">Name</label>
<input type="text" name="name{{ golfer.sequence }}" value="{{ golfer.name }}" id="entry_golfer_name{{ golfer.sequence }}">
</div>
</div>

<div class="form-entry-right form-gender">
<div class="form-input">
<ul>
<li><label><input type="radio" name="gender{{ golfer.sequence }}" value="M" {% ifequal golfer.gender "M" %}checked{% endifequal %}> M</label></li>
<li><label><input type="radio" name="gender{{ golfer.sequence }}" value="F" {% ifequal golfer.gender "F" %}checked{% endifequal %}> F</label></li>
</ul>
</div>
</div>

<div class="form-entry-left form-text">
<div class="form-input">
<label for="entry_company{{ golfer.sequence }}">Company</label>
<input type="text" name="company{{ golfer.sequence }}" value="{{ golfer.company }}" id="entry_company{{ golfer.sequence }}">
</div>
</div>

<div class="form-entry-left form-text">
<div class="form-input">
<label for="entry_address{{ golfer.sequence }}">Address</label>
<input type="text" name="address{{ golfer.sequence }}" value="{{ golfer.address }}" id="entry_address{{ golfer.sequence }}">
</div>
</div>

<div class="form-entry-left form-text">
<div class="form-input">
<label for="entry_city{{ golfer.sequence }}">City, State, ZIP</label>
<input type="text" name="city{{ golfer.sequence }}" value="{{ golfer.city }}" id="entry_city{{ golfer.sequence }}">
</div>
</div>

<div class="form-entry-left form-text">
<div class="form-input">
<label for="entry_email{{ golfer.sequence }}">Email</label>
<input type="text" name="email{{ golfer.sequence }}" value="{{ golfer.email }}" id="entry_email{{ golfer.sequence }}">
</div>
</div>

<div class="form-entry-left form-phone">
<div class="form-input">
<label for="entry_phone{{ golfer.sequence }}">Phone</label>
<input type="text" name="phone{{ golfer.sequence }}" value="{{ golfer.phone }}" id="entry_phone{{ golfer.sequence }}">
</div>
</div>

<div class="form-entry form-number">
<div class="form-input">
<label for="entry_index{{ golfer.sequence }}">Index</label>
<input type="text" name="index{{ golfer.sequence }}" value="{{ golfer.golf_index }}" id="entry_index{{ golfer.sequence }}">
<label class="right" for="entry_best{{ golfer.sequence }}"><i>OR</i> Best Score</label>
<input type="text" name="best{{ golfer.sequence }}" value="{{ golfer.best_score }}" id="entry_best{{ golfer.sequence }}">
</div>
</div>

<div class="form-entry form-number">
<div class="form-input">
<label for="entry_ghn{{ golfer.sequence }}">GHN Number</label>
<input type="text" name="ghn{{ golfer.sequence }}" value="{{ golfer.ghn_number }}" id="entry_ghn{{ golfer.sequence }}">
</div>
</div>

<div class="form-entry">
<div class="form-input">
<label for="entry_shirtsize{{ golfer.sequence }}">Shirt size</label>
<select name="shirtsize{{ golfer.sequence }}" id="entry_shirtsize{{ golfer.sequence }}">
<option value="">Select one...</option>
<option value="S" {% ifequal golfer.shirt_size "S" %}selected{% endifequal %}>S</option>
<option value="M" {% ifequal golfer.shirt_size "M" %}selected{% endifequal %}>M</option>
<option value="L" {% ifequal golfer.shirt_size "L" %}selected{% endifequal %}>L</option>
<option value="XL" {% ifequal golfer.shirt_size "XL" %}selected{% endifequal %}>XL</option>
<option value="XXL" {% ifequal golfer.shirt_size "XXL" %}selected{% endifequal %}>XXL</option>
<option value="XXXL" {% ifequal golfer.shirt_size "XXXL" %}selected{% endifequal %}>XXXL</option>
</select>
</div>
</div>

<div class="form-entry">
<div class="form-input">
<label for="entry_golfer_choice{{ golfer.sequence }}">Dinner Choice</label>
<select name="golfer_choice{{ golfer.sequence }}" id="entry_golfer_choice{{ golfer.sequence }}">
<option value="">Select one...</option>
<option value="Beef" {% ifequal golfer.dinner_choice "Beef" %}selected{% endifequal %}>Beef</option>
<option value="Fish" {% ifequal golfer.dinner_choice "Fish" %}selected{% endifequal %}>Fish</option>
<option value="Vegetarian" {% ifequal golfer.dinner_choice "Vegetarian" %}selected{% endifequal %}>Vegetarian</option>
<option value="No Dinner" {% ifequal golfer.dinner_choice "No Dinner" %}selected{% endifequal %}>No Dinner</option>
</select>
</div>
</div>

</div> <!-- form-section -->

{% if forloop.last %}
<div class="form-section">

<div class="form-entry form-text">
<div class="form-input">
<label class="above" for="entry_pairing">Pairing preferences:</label>
<input type="text" name="pairing" value="{{ sponsor.pairing }}" id="entry_pairing">
</div>
</div>

</div> <!-- form-section -->
{% endif %}

{% endfor %}

{% for guest in dinner_guests %}
<div class="form-section">

<h2>Dinner Guest #{{guest.sequence}}</h2>

<div class="form-entry-left form-text">
<div class="form-input">
<label for="entry_guest_name{{ guest.sequence }}">Name</label>
<input type="text" name="guest{{ guest.sequence }}" value="{{ guest.name }}" id="entry_guest_name{{ guest.sequence }}">
</div>
</div>

<div class="form-entry">
<div class="form-input">
<label for="entry_guest_choice{{ guest.sequence }}">Dinner Choice</label>
<select name="guest_choice{{ guest.sequence }}" id="entry_guest_choice{{ guest.sequence }}">
<option value="">Select one...</option>
<option value="Beef" {% ifequal guest.dinner_choice "Beef" %}selected{% endifequal %}>Beef</option>
<option value="Fish" {% ifequal guest.dinner_choice "Fish" %}selected{% endifequal %}>Fish</option>
<option value="Vegetarian" {% ifequal guest.dinner_choice "Vegetarian" %}selected{% endifequal %}>Vegetarian</option>
</select>
</div>
</div>

</div> <!-- form-section -->
{% endfor %}

<div class="form-section">

<div class="form-entry form-text">
<div class="form-input">
<label class="above" for="entry_seating">Dinner seating preferences:</label>
<input type="text" name="dinner_seating" value="{{ sponsor.dinner_seating }}" id="entry_seating">
</div>
</div>

</div> <!-- form-section -->

<div class="form-submit-section">

<div class="form-entry form-submit">
<div class="form-button">
{% ifequal sponsor.payment_made 0 %}
{% if capabilities.can_add_registrations %}
<input type="submit" name="save" value="Save Changes">
{% endif %}
<input type="submit" name="pay_by_acceptiva" value="Pay by Credit Card ->">
<input type="submit" name="pay_by_check" value="Pay by Check ->">
{% else %}
<input type="submit" name="save" value="Save Changes">
{% endifequal %}
</div>
</div>

</div> <!-- form-section -->

</div> <!-- continue-form -->

</form>

</div> <!-- content -->

</div> <!-- container -->

</body>
</html>
