{% extends "base.html" %}

{% load humanize %}

{% block title %}Registration Step 2{% endblock %}

{% block head %}
<link rel="stylesheet" href="css/register.css" type="text/css">
{% endblock %}

{% block content %}
<h2>Step 2: Golfers and Dinner Guests</h2>

{% if not capabilities.can_add_registrations %}
{% endif %}
<p>Complete your online registration by providing the golfer information and dinner choices below.</p>

{% if not registration_closed %}
<p>If you don&rsquo;t have all the information you need yet
(or you haven&rsquo;t yet decided what to have for dinner),
just <b><a href="/register?id={{ sponsor.id }}">bookmark this page</a></b>
so you can come back to it later.
You can proceed to the checkout step and pay even if you
haven&rsquo;t completed this form.
After you&rsquo;ve paid, you can return to this page as often as you wish,
up to the registration deadline of {{ deadline }}, to change your selections.
Just remember to save your changes each time.
If you pay online, your email receipt will also contain a link back to this page.</p>

<p>If you need to change the number of golfers or dinners,
sponsorships, or if you are a GO campaign member and haven&rsquo;t
yet applied your discount code, press the &ldquo;Back to Step 1&rdquo;
button and update the information on that page.</p>
{% endif %}

<div class="register-checklist">
<p>Your registration checklist:</p>
<ul>
	<li>{% if has_registered %}&#10003; Registered{% else %}&#9744; Register{% endif %} for golf and dinner.</li>
	<li>{% if has_completed_names %}&#10003; Names for all golfers and dinner guests entered.{% else %}&#9744; Enter names for all golfers and dinner guests, and genders for all golfers.{% endif %}</li>
	<li>{% if has_completed_handicaps %}&#10003; Handicap information for all golfers entered.{% else %}&#9744; Enter handicap information for all golfers.{% endif %}</li>
	<li>{% if has_selected_sizes %}&#10003; Shirt sizes for all golfers selected.{% else %}&#9744; Select shirt sizes for all golfers.{% endif %}</li>
	<li>{% if has_paid %}&#10003; Paid.{% else %}&#9744; Pay.{% endif %}</li>
</ul>
</div> <!-- register-checklist -->

{% if not capabilities.can_add_registrations %}
{% endif %}
<p>If you have questions or need help with the registration process,
email <a href="mailto:help@celebrationclassic.org">help@celebrationclassic.org</a>.</p>

{% for m in messages %}
<p class="message">{{ m|escape }}</p>
{% endfor %}

<form action="/continue" method="post" accept-charset="utf-8">
<input type="hidden" name="id" value="{{ sponsor.id }}">

<div id="continue-form" class="form">

<div class="form-section">

<h2>Sponsor/Contact Info</h2>

<div class="form-entry-left form-text">
<div class="form-input">
<label for="entry_name">Name</label>
<input type="text" name="name" value="{{ sponsor.first_name }} {{ sponsor.last_name }}" id="entry_name" readonly>
</div>
</div>

<div class="form-entry form-number">
<div class="form-input">
<label for="entry_num_golfers">Golfers</label>
<input type="text" name="num_golfers" value="{{ sponsor.num_golfers }}" id="entry_num_golfers" readonly>
<label class="right" for="entry_num_dinners">Additional Dinners</label>
<input type="text" name="num_dinners" value="{{ sponsor.num_dinners }}" id="entry_num_dinners" readonly>
</div>
</div>

<div class="form-entry form-dollars">
<div class="form-input">
<label for="entry_net_payment_due">Amount Due</label>
$<input type="text" name="net_payment_due" value="{{ net_payment_due|intcomma }}" id="entry_net_payment_due" readonly>
</div>
</div>

</div> <!-- form-section -->

<div class="form-submit-section">

<div class="form-entry form-text">
<div class="form-button">
<input type="submit" name="back" value="&larr; Back to Step 1">
{% if net_payment_due %}
<input type="submit" name="pay_with_cc" value="Pay with Credit Card &rarr;">
<input type="submit" name="pay_by_check" value="Pay by Check &rarr;">
{% endif %}
</div>
</div>

</div> <!-- form-submit-section -->

{% for golfer in golfers %}
<div class="form-section">

<h2>Golfer #{{golfer.sequence}}</h2>

<div class="form-entry form-text">
<div class="form-input">
<label for="entry_golfer_first_name{{ golfer.sequence }}">Name</label>
<input class="form-first-name" type="text" name="first_name{{ golfer.sequence }}" value="{{ golfer.first_name }}" id="entry_golfer_first_name{{ golfer.sequence }}" placeholder="First">
<input class="form-last-name" type="text" name="last_name{{ golfer.sequence }}" value="{{ golfer.last_name }}" id="entry_golfer_last_name{{ golfer.sequence }}" placeholder="Last">
</div>
</div>

<div class="form-entry-left form-gender">
<div class="form-input">
<ul>
<li><label><input type="radio" name="gender{{ golfer.sequence }}" value="M" {% ifequal golfer.gender "M" %}checked{% endifequal %}> M</label></li>
<li><label><input type="radio" name="gender{{ golfer.sequence }}" value="F" {% ifequal golfer.gender "F" %}checked{% endifequal %}> F</label></li>
</ul>
</div>
</div>

<div class="form-entry-left form-text">
<div class="form-input">
<label for="entry_company{{ golfer.sequence }}">Company</label>
<input type="text" name="company{{ golfer.sequence }}" value="{{ golfer.company }}" id="entry_company{{ golfer.sequence }}" placeholder="Company">
</div>
</div>

<div class="form-entry-left form-text">
<div class="form-input">
<label for="entry_address{{ golfer.sequence }}">Address</label>
<input type="text" name="address{{ golfer.sequence }}" value="{{ golfer.address }}" id="entry_address{{ golfer.sequence }}" placeholder="Street">
</div>
</div>

<div class="form-entry-left form-text">
<div class="form-input">
<input class="form-city" type="text" name="city{{ golfer.sequence }}" value="{{ golfer.city }}" id="entry_city{{ golfer.sequence }}" placeholder="City">
<input class="form-state" type="text" name="state{{ golfer.sequence }}" value="{{ golfer.state }}" id="entry_state{{ golfer.sequence }}" placeholder="State">
<input class="form-zip" type="text" name="zip{{ golfer.sequence }}" value="{{ golfer.zip }}" id="entry_zip{{ golfer.sequence }}" placeholder="ZIP">
</div>
</div>

<div class="form-entry-left form-text">
<div class="form-input">
<label for="entry_email{{ golfer.sequence }}">Email</label>
<input type="text" name="email{{ golfer.sequence }}" value="{{ golfer.email }}" id="entry_email{{ golfer.sequence }}" placeholder="Email">
</div>
</div>

<div class="form-entry-left form-phone">
<div class="form-input">
<label for="entry_phone{{ golfer.sequence }}">Phone</label>
<input type="text" name="phone{{ golfer.sequence }}" value="{{ golfer.phone }}" id="entry_phone{{ golfer.sequence }}" placeholder="Phone">
</div>
</div>

<div class="form-entry form-number">
<div class="form-input">
<label for="entry_ghin{{ golfer.sequence }}">GHIN Number</label>
<input type="text" name="ghin{{ golfer.sequence }}" value="{{ golfer.ghin_number }}" id="entry_ghin{{ golfer.sequence }}">
<label class="right" for="entry_avg{{ golfer.sequence }}"><i>OR</i> Average Score</label>
<input type="text" name="avg{{ golfer.sequence }}" value="{{ golfer.average_score }}" id="entry_avg{{ golfer.sequence }}">
</div>
</div>

<div class="form-entry">
<div class="form-input">
<label for="entry_shirtsize{{ golfer.sequence }}">Shirt size</label>
<select name="shirtsize{{ golfer.sequence }}" id="entry_shirtsize{{ golfer.sequence }}">
<option value="">Select one...</option>
<option value="S" {% ifequal golfer.shirt_size "S" %}selected{% endifequal %}>S</option>
<option value="M" {% ifequal golfer.shirt_size "M" %}selected{% endifequal %}>M</option>
<option value="L" {% ifequal golfer.shirt_size "L" %}selected{% endifequal %}>L</option>
<option value="XL" {% ifequal golfer.shirt_size "XL" %}selected{% endifequal %}>XL</option>
<option value="XXL" {% ifequal golfer.shirt_size "XXL" %}selected{% endifequal %}>XXL</option>
<option value="XXXL" {% ifequal golfer.shirt_size "XXXL" %}selected{% endifequal %}>XXXL</option>
</select>
</div>
</div>

<div class="form-entry">
<div class="form-input">
<input type="checkbox" name="golfer_nodinner{{ golfer.sequence }}" value="y" id="entry_golfer_nodinner{{ golfer.sequence }}" {% ifequal golfer.dinner_choice "No Dinner" %}checked{% endifequal %}>
<label class="right" for="entry_golfer_nodinner{{ golfer.sequence }}">Check here if golfer will not be having dinner</label>
</div>
</div>

<div class="form-entry">
<div class="form-input">
<input type="checkbox" name="golfer_vegetarian{{ golfer.sequence }}" value="y" id="entry_golfer_vegetarian{{ golfer.sequence }}" {% ifequal golfer.dinner_choice "Vegetarian" %}checked{% endifequal %}>
<label class="right" for="entry_golfer_vegetarian{{ golfer.sequence }}">Check here for a vegetarian entree</label>
</div>
</div>

</div> <!-- form-section -->

{% if forloop.last %}
<div class="form-section">

<div class="form-entry form-text">
<div class="form-input">
<label class="above" for="entry_pairing">Golfer pairing preferences:</label>
<input class="form-prefs" type="text" name="pairing" value="{{ sponsor.pairing }}" id="entry_pairing">
</div>
</div>

</div> <!-- form-section -->
{% endif %}

{% endfor %}

{% for guest in dinner_guests %}
<div class="form-section">

<h2>Dinner Guest #{{guest.sequence}}</h2>

<div class="form-entry form-text">
<div class="form-input">
<label for="entry_guest_first_name{{ guest.sequence }}">Name</label>
<input class="form-first-name" type="text" name="guest_first_name{{ guest.sequence }}" value="{{ guest.first_name }}" id="entry_guest_first_name{{ guest.sequence }}" placeholder="First">
<input class="form-last-name" type="text" name="guest_last_name{{ guest.sequence }}" value="{{ guest.last_name }}" id="entry_guest_last_name{{ guest.sequence }}" placeholder="Last">
</div>
</div>

<div class="form-entry">
<div class="form-input">
<input type="checkbox" name="guest_vegetarian{{ guest.sequence }}" value="y" id="entry_guest_vegetarian{{ guest.sequence }}" {% ifequal guest.dinner_choice "Vegetarian" %}checked{% endifequal %}>
<label class="right" for="entry_guest_vegetarian{{ guest.sequence }}">Check here for a vegetarian entree</label>
</div>
</div>

</div> <!-- form-section -->
{% endfor %}

<div class="form-section">

<div class="form-entry form-text">
<div class="form-input">
<label class="above" for="entry_seating">Dinner seating preferences:</label>
<input class="form-prefs" type="text" name="dinner_seating" value="{{ sponsor.dinner_seating }}" id="entry_seating">
</div>
</div>

</div> <!-- form-section -->

<div class="form-submit-section">

<div class="form-entry form-submit">
<div class="form-button">
<input type="submit" name="back" value="&larr; Back to Step 1">
{% if net_payment_due %}
<input type="submit" name="pay_with_cc" value="Pay with Credit Card &rarr;">
<input type="submit" name="pay_by_check" value="Pay by Check &rarr;">
{% endif %}
{% if net_payment_due == 0 or capabilities.can_add_registrations %}
<input type="submit" name="save" value="Save Changes">
{% endif %}
</div>
</div>

</div> <!-- form-submit-section -->

</div> <!-- continue-form -->

</form>


{% endblock %}
