{% extends "base.html" %}

{% load custom_filters %}

{% block title %}Delete Registrations{% endblock %}

{% block head %}
<style type="text/css">
#body { width: 95%; }
#body #header { margin-left: auto; margin-right: auto; }
#body #footer { margin-left: auto; margin-right: auto; }
#body #nav { display: none; }
#body #content { float: none; width: 100%; margin: 1em 0 3em; }
#body table { width: 100%; border: none; border-collapse: collapse; border-bottom: 2px solid #c4e5c4; margin-bottom: 2em; }
#body thead tr { border: none; border-bottom: 2px solid #c4e5c4; }
#body tbody tr { border: none; border-bottom: 1px solid #c4e5c4; }
#body tbody tr:hover { background-color: #e7fbe7; }
#body th { color: #6061ab; padding: 0.5em; font-size: 80%; }
#body td { padding: 0.5em; }
#body td.sponsor { background-color: white; font-weight: bold; padding-top: 1em; }
#body td.firstcol { padding-left: 2em; }
#body td p { margin: 0; }
#body td p.details { margin-left: 1em; font-size: 80%; color: #555; }
h2 { text-align: center; }
ul.viewnav { list-style: none; margin: 0 0 1em 0; padding: 0; text-align: center; }
ul.viewnav li { display: inline; margin: 0; padding: 0 1em 0 0; }
ul.viewnav li {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Lucida, sans-serif;
}
ul.viewnav li.selected a { font-weight: bold; color: #157d15; text-decoration: none; }
ul.viewnav li.selected a:hover { font-weight: bold; color: #157d15; text-decoration: none; }
</style>
{% endblock %}

{% block content %}
<h2>Registrations</h2>

{% if sponsors %}
<form action="/admin/delete-registrations" method="post" accept-charset="utf-8">
<table>
<thead>
	<tr valign="bottom">
		<th align="left">ID</th>
		<th align="left">Contact</th>
		<th align="left">Address</th>
		<th align="left">Email/Phone</th>
		<th align="left">Sponsorship</th>
		<th align="right"># Golfers</th>
		<th align="right"># Dinners</th>
		<th align="left">Payment</th>
	</tr>
</thead>
<tbody>
{% for s in sponsors %}
	<tr valign="baseline">
		<td><input type="checkbox" name="selected_items" value="{{ s.id }}">
		<a href="/register?id={{ s.id }}">{{ s.id }}</a></td>
		<td>{{ s.first_name }} {{ s.last_name }}</td>
		<td>
			{% if s.company %}<p>{{ s.company }}</p>{% endif %}
			{% if s.address %}<p>{{ s.address }}</p>{% endif %}
			{% if s.city %}<p>{{ s.city }} {{ s.state }} {{ s.zip }}</p>{% endif %}
		</td>
		<td>
			{% if s.email %}<p><a href="mailto:{{ s.email }}">{{ s.email }}</a></p>{% endif %}
			{% if s.phone %}<p>{{ s.phone }}</p>{% endif %}
			{% if s.fax %}<p>{{ s.fax }} (fax)</p>{% endif %}
		</td>
		<td>
			{% for ss in s.sponsorships %}
			<p>{{ ss|get_sponsorship_name }}</p>
			{% if forloop.last %}
			<p class="details">Print names as: {% if s.anonymous %}(Anonymous){% else %}{{ s.printed_names }}{% endif %}</p>
			{% endif %}
			{% endfor %}
			{% if s.additional_donation %}
			<p class="details">Additional donation: ${{ s.additional_donation }}</p>
			{% endif %}
		</td>
		<td align="right">{{ s.num_golfers }}</td>
		<td align="right">{{ s.num_dinners }}</td>
		<td>
			{% if s.payment_made %}
			<p>Paid: ${{ s.payment_made }}</p>
			<p class="details">Payment Type: {{ s.payment_type|default:'' }}</p>
			<p class="details">Transaction Code: {{ s.transaction_code|default:'' }}</p>
			<p class="details">Authorization Code: {{ s.auth_code|default:'' }}</p>
			{% endif %}
			{% if s.discount %}
			<p>Discount: ${{ s.discount }}</p>
			<p class="details">Discount Type: {{ s.discount_type|default:'' }}</p>
			{% endif %}
		</td>
	</tr>
{% endfor %}
</tbody>
</table>

<p><input type="submit" name="delete" value="Delete Selected"></p>
</form>

{% else %}

<p>No registrations.</p>

{% endif %}
{% endblock %}
