{% extends "base.html" %}

{% load custom_filters %}

{% block title %}{% if key %}Edit{% else %}New{% endif %} Auction Item{% endblock %}

{% block head %}
<style type="text/css">
p.description { margin-bottom: 0.5em; }
.hints { font-size: 80%; color: #484848; }
.hints p { margin-bottom: 0; }
.hints ul { margin: 0 0 1.5em 0; padding: 0 0 0 1.5em; }
.hints code { color: #157d15; }
</style>
{% endblock %}

{% block content %}
<h2>{% if key %}Edit{% else %}New{% endif %} Auction Item</h2>

<form action="{{ upload_url }}" method="post" enctype="multipart/form-data" accept-charset="utf-8">

{% if item.thumbnail_id %}
<img src="/img/{{ item.thumbnail_id }}" alt="" width="{{ item.thumbnail_width }}" height="{{ item.thumbnail_height }}">
{% endif %}

<p>{% if item.thumbnail_id %}Replace{% else %}Upload{% endif %} photo: <input type="file" name="file"></p>

<p class="description">Item Description:</p>

<textarea rows="12" cols="60" name="description">{{ item.description }}</textarea>

<div class="hints">
<p>Formatting hints:</p>
<ul>
	<li>For a new paragraph, type a blank line</li>
	<li>For a forced line break, type two spaces at the end of a line</li>
	<li>For a bullet list, type a blank line, then use <code>*</code> and a space at the beginning of each line</li>
	<li>For <i>italics</i>, type <code>_italics_</code></li>
	<li>For <b>bold</b>, type <code>**bold**</code></li>
	<li>For hyperlinks, type <code>[text of link](http://example.com/index.html)</code></li>
	<li><a href="http://daringfireball.net/projects/markdown/basics" target="_blank">Full Markdown documentation...</a></li>
</ul>
</div>

<p>Sequence # <input type="text" name="sequence" value="{{ item.sequence }}" size="5">
<span class="hints">(Use this to control the order of the auction items.)</span></p>

<input type="hidden" name="key" value="{{ key }}">

<p><input type="submit" name="save" value="Save"></p>

</form>
{% endblock %}
