{% extends "wide.html" %}

{% block title %}Reminder Emails{% endblock %}

{% block head %}
<style type="text/css">
#body #content p { text-align: center; }
h2 { text-align: center; }
</style>
{% endblock %}

{% block content %}
<ul class="viewnav">
	<li><a href="/admin/view/registrations">All</a></li>
	<li><a href="/admin/view/golfers">Golfers</a></li>
	<li><a href="/admin/view/dinners">Dinners</a></li>
	<li><a href="/admin/view/unpaid">Unpaid</a></li>
	<li><a href="/admin/view/incomplete">Incomplete</a></li>
	<li><a href="/admin/view/unconfirmed">Unconfirmed</a></li>
</ul>

<h2>Reminder Emails</h2>

{% if num_sent == 0 %}
<p>No emails were sent.</p>
{% else %}
{% if num_sent == 1 %}
<p>1 reminder email was sent.</p>
{% else %}
<p>{{ num_sent }} reminder emails were sent.</p>
{% endif %}
{% endif %}

{% endblock %}
