{% extends "base.html" %}

{% block title %}Reminder Emails{% endblock %}

{% block head %}
<style type="text/css">
ul.pages { list-style: none; margin: 0; padding: 0; }
ul.pages li { display: inline; margin: 0; padding: 0 1em 0 0; }
</style>
{% endblock %}

{% block content %}
<h2>Reminder Emails</h2>

{% if num_sent == 0 %}
<p>No emails were sent.</p>
{% else %}
{% if num_sent == 1 %}
<p>1 reminder email was sent.</p>
{% else %}
<p>{{ num_sent }} reminder emails were sent.</p>
{% endif %}
{% endif %}

<ul class="pages">
	<li><a href="/admin/view/sponsors">View All</a></li>
	<li><a href="/admin/view/unpaid">View Unpaid</a></li>
	<li><a href="/admin/view/incomplete">View Incomplete</a></li>
</ul>

{% endblock %}
