{% extends "wide.html" %}

{% block title %}Build Teams{% endblock %}

{% block head %}
<style type="text/css">
h2 { text-align: center; background-image: none; border-bottom: none; }
p.message { font-weight: bold; color: red; margin: 0 0 0.5em 0; }
.column { float: left; margin: 0 5%; padding: 1em 0; width: 35%; }
.gutter { float: left; padding: 3em 0 0 0; width: 10%; }
.gutter div { margin: 1em 0; text-align: center; }
.help { margin: 2em 0; font-size: 60%; text-align: left; color: #888; }
.group, .team { margin: 1em 0; border: 1px solid #c4e5c4; padding: 0.5em; background-color: #e7fbe7; }
.group p.contact, .team p.contact { margin: 0; font-weight: bold; }
.group p.pairing, .team p.pairing { margin: 0; font-style: italic; }
.group span.id, .team span.id { font-weight: normal; }
.group ul, .team ul { list-style: none; margin: 0; padding: 0; }
.group ul li, .team ul li { margin: 0 0 0 2em; padding: 0; }
.group span.golfername, .team span.golfername { display: inline-block; width: 10em; }
.team span.placeholder { display: inline-block; width: 10em; border-bottom: 1px solid #A8CBA6; }
.group span.handicap, .team span.handicap { display: inline-block; width: 3em; text-align: right; }
.team span.cart { margin-left: 1em; }
.team span.cart label { font-size: 80%; }
</style>
<script src="/js/formteams.js" type="text/javascript" language="javascript"></script>
<script type="text/javascript" language="javascript">
var groups = {{ groups_json|safe }};
var teams = {{ teams_json|safe }};
var golfers = {{ golfers_json|safe }};
var groups_selected = [];
var teams_selected = [];
var unassigned_golfers_selected = [];
var assigned_golfers_selected = [];
var group_divs;
var team_div;
window.onload = function() {
	initialize();
};
</script>
{% endblock %}

{% block subnav %}
<ul class="viewnav">
	<li><a href="/admin/view/registrations">All Registrations</a></li>
	<li><a href="/admin/view/golfers">Golfers by Sponsor</a></li>
	<li><a href="/admin/view/golfers/byname">Golfers by Name</a></li>
	<li><a href="/admin/view/golfers/byteam">Golfers by Team</a></li>
	<li><a href="/admin/view/golfers/bystart">Golfers by Start</a></li>
	<li><a href="/admin/view/golfers/handicap">Handicap</a></li>
	<li class="selected"><a href="/admin/view/golfers/pairing">Pairing</a></li>
	<li><a href="/admin/view/dinners">Dinners</a></li>
	<li><a href="/admin/view/unpaid">Unpaid</a></li>
	<li><a href="/admin/view/incomplete">Incomplete</a></li>
	<li><a href="/admin/view/unconfirmed">Unconfirmed</a></li>
</ul>
{% endblock %}

{% block content %}
{% for m in messages %}
<p class="message">{{ m|escape }}</p>
{% endfor %}

<div class="column" id="unassigned">

<h2>Unassigned Foursomes</h2>

<div id="foursomes">
</div>

<h2>Unassigned Threesomes</h2>

<div id="threesomes">
</div>

<h2>Unassigned Twosomes</h2>

<div id="twosomes">
</div>


<h2>Unassigned Singles</h2>

<div id="singles">
</div>

</div> <!-- unassigned -->

<div class="gutter">
<form id="form" action="/admin/view/golfers/pairing" method="post" accept-charset="utf-8">
<input type="hidden" id="golfers_json" name="golfers_json" value="">
<input type="hidden" id="groups_json" name="groups_json" value="">
<input type="hidden" id="teams_json" name="teams_json" value="">
<div><input type="button" name="newteam" value="New Team &rarr;" onclick="return do_newteam();"></div>
<div><input type="button" name="move" value="Move &rarr;" onclick="return do_move();"></div>
<div><input type="button" name="remove" value="&larr; Remove" onclick="return do_remove();"></div>
<div><input type="button" id="save_button" name="save" value="Save Teams" onclick="return do_save();"></div>
</form>
<p class="help">To form a new team, select up to four unassigned golfers from the left column,
then click &ldquo;New Team.&rdquo;</p>
<p class="help">To add golfers to an existing team, select the golfers from the left column,
select a team from the right column, then click &ldquo;Move.&rdquo;
Do not select more than four golfers total.</p>
<p class="help">To remove golfers from a team, select the golfers from the right column,
then click &ldquo;Remove.&rdquo; The golfers will be returned to the
unassigned column.</p>
<p class="help">To save the team assignments permanently, click &ldquo;Save Teams.&rdquo;</p>
</div>

<div class="column" id="teams">

<h2>Teams</h2>

<div id="teams">
</div>

</div> <!-- teams -->

{% endblock %}
