{% extends "base.html" %}

{% load humanize %}

{% block title %}Pay with Credit Card{% endblock %}

{% block head %}
<link rel="stylesheet" href="css/register.css" type="text/css">
{% endblock %}

{% block content %}
<h2>Pay with Credit Card</h2>

<p>Thank you! Your registration has been entered.</p>

<p>Please use this form to submit your payment.
Your credit card information will be transmitted securely directly to our payment processor,
and will not be stored on our server.</p>

<p>You may return to the <a href="/register?id={{ sponsor.id }}">registration page</a>
any time to complete your registration.</p>

<form action="{{ gateway_url }}" method="post" accept-charset="utf-8">

{% for f in api_fields %}
<input type="hidden" name="{{ f.0 }}" value="{{ f.1 }}" />
{% endfor %}

<div id="payment-form" class="form">

<div class="form-section">

<h2>Billing Address</h2>

<div class="form-entry form-text">
<div class="form-input">
<label for="first_name">Name</label>
<input class="form-first-name" type="text" name="x_first_name" value="{{ sponsor.first_name }}" id="first_name" placeholder="First">
<input class="form-last-name" type="text" name="x_last_name" value="{{ sponsor.last_name }}" id="last_name" placeholder="Last">
</div>
</div>

<div class="form-entry form-text">
<div class="form-input">
<label for="entry_company">Company</label>
<input type="text" name="x_company" value="{{ sponsor.company }}" id="entry_company" placeholder="Company">
</div>
</div>

<div class="form-entry form-text">
<div class="form-input">
<label for="entry_address">Address</label>
<input type="text" name="x_address" value="{{ sponsor.address }}" id="entry_address" placeholder="Street">
</div>
</div>

<div class="form-entry form-text">
<div class="form-input">
<input class="form-city" type="text" name="x_city" value="{{ sponsor.city }}" id="entry_city" placeholder="City">
<input class="form-state" type="text" name="x_state" value="{{ sponsor.state }}" id="entry_state" placeholder="State">
<input class="form-zip" type="text" name="x_zip" value="{{ sponsor.zip }}" id="entry_zip" placeholder="ZIP">
</div>
</div>

<div class="form-entry form-text">
<div class="form-input">
<label for="entry_email">Email</label>
<input type="text" name="x_email" value="{{ sponsor.email }}" id="entry_email" placeholder="Email">
</div>
</div>

<div class="form-entry form-phone">
<div class="form-input">
<label for="entry_phone">Phone</label>
<input type="text" name="x_phone" value="{{ sponsor.phone }}" id="entry_phone" placeholder="Phone">
</div>
</div>

</div> <!-- form-section -->

<div class="form-section">

<h2>Credit Card Information</h2>

<div class="form-entry form-dollars">
<div class="form-input">
<label for="net_payment_due">Amount</label>
$<input type="text" id="entry_net_payment_due" name="x_amount" value="{{ net_payment_due }}" readonly>
</div>
</div>

<div class="form-entry form-text">
<div class="form-input">
<label for="card_num">Credit Card #</label>
<input type="text" id="entry_x_card_num" name="x_card_num" maxlength="16">
</div>
</div>

<div class="form-entry form-number">
<div class="form-input">
<label for="exp_date">Exp. Date</label>
<input type="text" id="entry_x_exp_date" name="x_exp_date" maxlength="6" placeholder="MMYYYY">
</div>
</div>

</div> <!-- form-section -->

<div class="form-submit-section">

<div class="form-entry form-submit">
<div class="form-button">
<a href="/register?id={{ sponsor.id }}"><button type="button" name="back"><- Back</button></a>
<input type="submit" name="buy_button" value="Submit Payment">
</div>
</div>

</div> <!-- form-section -->

</div> <!-- payment-form -->

</form>

{% if capabilities.can_add_registrations %}
<h2>Debugging</h2>
<div style="color: #999;">
<table border="0" cellspacing="0" cellpadding="5">
{% for f in api_fields %}
<tr valign="baseline">
<td align="right">{{ f.0 }}</td>
<td align="left">{{ f.1 }}</td>
</tr>
{% endfor %}
</table>
</div>
{% endif %}

{% endblock %}
