{% extends "base.html" %}

{% load humanize %}

{% block title %}Receipt{% endblock %}

{% block content %}

{% if response_code == 1 %}

<h2>Receipt</h2>

<p>Thank you! Your registration has been entered
and your payment for ${{ amount|intcomma }} has been received.</p>

{% else %}

<h2>Error</h2>

<p>Sorry, there was a problem with your payment:
{{ reason_text }} (code {{ response_code }}-{{ reason_code }})</p>

{% endif %}

<p>You may <a href="/register?id={{ sponsor.id }}">return to the registration page</a>
as often as you wish to change your selections.</p>
{% endblock %}
