{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block head %}
<link rel="stylesheet" href="css/register.css" type="text/css">
<script src="js/register.js" type="text/javascript" language="javascript"></script>
<script type="text/javascript" language="javascript">
window.onload = function() {
	install_recalculate_hooks();
	recalculate();
};
</script>
{% endblock %}

{% block content %}
<h2>Registration</h2>

<p>Start your online registration by filling out this form.
If you would prefer to download and print a registration form to mail in with your payment,
you can download one of the registration forms listed at the bottom of this page.</p>

<p>You can register online in three easy steps:</p>

<ol>

<li><p>Provide your contact information,
select a sponsorship level (if desired),
and enter the number of golfers and dinner guests.</p>

<li><p>Enter information for each golfer,
and make your dinner selections.</p>

<li><p>Make your payment online through Acceptiva or by check.</p>

</ol>

<p>If you don't have all the information for the golfers in your group,
don't worry&mdash;you can still register now and
return to this site as often as you need to complete your registration
(through September 30).
When you pay through Acceptiva, you will receive an email receipt
that contains a link that you can use to complete your registration
or modify your choices.</p>

<p>YOUR REGISTRATION MUST BE COMPLETED BY SEPTEMBER 30, 2013.</p>

<p>If you have questions or need help with the registration process,
email <a href="mailto:help@celebrationclassic.org">help@celebrationclassic.org</a>.</p>

{% for m in messages %}
<p class="message">{{ m|escape }}</p>
{% endfor %}

<form action="/register" method="post" accept-charset="utf-8">

<div id="register-form" class="form">

<div class="form-section">

<div class="form-entry-left form-text">
<div class="form-input">
<label for="entry_name">Name</label>
<input type="text" name="name" value="{{ sponsor.name }}" id="entry_name"> *
</div>
</div>

<div class="form-entry-left form-text">
<div class="form-input">
<label for="entry_company">Company</label>
<input type="text" name="company" value="{{ sponsor.company }}" id="entry_company">
</div>
</div>

<div class="form-entry-left form-text">
<div class="form-input">
<label for="entry_address">Address</label>
<input type="text" name="address" value="{{ sponsor.address }}" id="entry_address"> *
</div>
</div>

<div class="form-entry-left form-text">
<div class="form-input">
<label for="entry_city">City, State, ZIP</label>
<input type="text" name="city" value="{{ sponsor.city }}" id="entry_city"> *
</div>
</div>

<div class="form-entry-left form-text">
<div class="form-input">
<label for="entry_email">Email</label>
<input type="text" name="email" value="{{ sponsor.email }}" id="entry_email"> *
</div>
</div>

<div class="form-entry-left form-phone">
<div class="form-input">
<label for="entry_phone">Phone</label>
<input type="text" name="phone" value="{{ sponsor.phone }}" id="entry_phone"> *
</div>
</div>

<div class="form-entry-left form-phone">
<div class="form-input">
<label for="entry_fax">Fax</label>
<input type="text" name="fax" value="{{ sponsor.fax }}" id="entry_fax">
</div>
</div>

<input type="hidden" name="id" value="{{ sponsor.id }}">

</div> <!-- form-section -->

<div class="form-section" id="sponsorships">

<div class="form-entry form-checkbox">
<div class="form-input">
<div class="checkbox-container"><input type="checkbox" name="show_sponsorships" id="checkbox_show_sponsorships" value="y" {% if selected %}checked{% endif %}></div>
<label class="right" for="checkbox_show_sponsorships">Check here if you would like to be a
Double Eagle, Hole-in-One, Eagle, or Under Par sponsor for this event.
<a href="sponsor.html" target="_blank">Learn more about sponsorship opportunities</a>.</label>
</div>
</div>

<div id="sponsorship_choices" class="form-column-container">
<div class="form-column">

<h3>Double Eagle Sponsors</h3>

{% for sponsorship in doubleeagle %}
<div class="form-entry form-checkbox">
<div class="form-input">
<div class="checkbox-container"><input type="checkbox" name="sponsorships" id="checkbox_{{ sponsorship.level }}_{{ sponsorship.sequence }}" value="{{ sponsorship.level }}:{{ sponsorship.sequence }}:{{ sponsorship.price }}" {% if sponsorship.sequence in selected %}checked{% endif %} {% if sponsorship.sold %}disabled{% endif %}></div>
<label class="right {% if sponsorship.sold %}sold{% endif %}" for="checkbox_{{ sponsorship.level }}_{{ sponsorship.sequence }}">{{ sponsorship.name }} ({% if sponsorship.sold %}SOLD{% else %}$<script type="text/javascript" language="javascript">document.write(add_commas({{ sponsorship.price }}));</script>{% endif%})</label>
</div>
</div>
{% endfor %}

<h3>Hole-in-One Sponsors</h3>

{% for sponsorship in holeinone %}
<div class="form-entry form-checkbox">
<div class="form-input">
<div class="checkbox-container"><input type="checkbox" name="sponsorships" id="checkbox_{{ sponsorship.level }}_{{ sponsorship.sequence }}" value="{{ sponsorship.level }}:{{ sponsorship.sequence }}:{{ sponsorship.price }}" {% if sponsorship.sequence in selected %}checked{% endif %} {% if sponsorship.sold %}disabled{% endif %}></div>
<label class="right {% if sponsorship.sold %}sold{% endif %}" for="checkbox_{{ sponsorship.level }}_{{ sponsorship.sequence }}">{{ sponsorship.name }} ({% if sponsorship.sold %}SOLD{% else %}$<script type="text/javascript" language="javascript">document.write(add_commas({{ sponsorship.price }}));</script>{% endif%})</label>
</div>
</div>
{% endfor %}

</div> <!-- form-column -->

<div class="form-column">

<h3>Eagle Sponsors</h3>

{% for sponsorship in eagle %}
<div class="form-entry form-checkbox">
<div class="form-input">
<div class="checkbox-container"><input type="checkbox" name="sponsorships" id="checkbox_{{ sponsorship.level }}_{{ sponsorship.sequence }}" value="{{ sponsorship.level }}:{{ sponsorship.sequence }}:{{ sponsorship.price }}" {% if sponsorship.sequence in selected %}checked{% endif %} {% if sponsorship.sold %}disabled{% endif %}></div>
<label class="right {% if sponsorship.sold %}sold{% endif %}" for="checkbox_{{ sponsorship.level }}_{{ sponsorship.sequence }}">{{ sponsorship.name }} ({% if sponsorship.sold %}SOLD{% else %}$<script type="text/javascript" language="javascript">document.write(add_commas({{ sponsorship.price }}));</script>{% endif%})</label>
</div>
</div>
{% endfor %}

<h3>Under Par Sponsors</h3>

{% for sponsorship in underpar %}
<div class="form-entry form-checkbox">
<div class="form-input">
<div class="checkbox-container"><input type="checkbox" name="sponsorships" id="checkbox_{{ sponsorship.level }}_{{ sponsorship.sequence }}" value="{{ sponsorship.level }}:{{ sponsorship.sequence }}:{{ sponsorship.price }}" {% if sponsorship.sequence in selected %}checked{% endif %} {% if sponsorship.sold %}disabled{% endif %}></div>
<label class="right {% if sponsorship.sold %}sold{% endif %}" for="checkbox_{{ sponsorship.level }}_{{ sponsorship.sequence }}">{{ sponsorship.name }} ({% if sponsorship.sold %}SOLD{% else %}$<script type="text/javascript" language="javascript">document.write(add_commas({{ sponsorship.price }}));</script>{% endif%})</label>
</div>
</div>
{% endfor %}

</div> <!-- form-column -->
</div> <!-- form-column-container -->

</div> <!-- form-section -->

<div class="form-section">

<p class="subhead"><span id="included_text"></span></p>

<div class="form-entry">
<div class="form-input">
<label for="entry_num_golfers">Golfers</label>
<select id="entry_num_golfers" name="num_golfers">
<option label="0" value="0" {% ifequal sponsor.num_golfers 0 %} selected {% endifequal %}>0</option>
<option label="1" value="1" {% ifequal sponsor.num_golfers 1 %} selected {% endifequal %}>1</option>
<option label="2" value="2" {% ifequal sponsor.num_golfers 2 %} selected {% endifequal %}>2</option>
<option label="3" value="3" {% ifequal sponsor.num_golfers 3 %} selected {% endifequal %}>3</option>
<option label="4" value="4" {% ifequal sponsor.num_golfers 4 %} selected {% endifequal %}>4</option>
<option label="5" value="5" {% ifequal sponsor.num_golfers 5 %} selected {% endifequal %}>5</option>
<option label="6" value="6" {% ifequal sponsor.num_golfers 6 %} selected {% endifequal %}>6</option>
<option label="7" value="7" {% ifequal sponsor.num_golfers 7 %} selected {% endifequal %}>7</option>
<option label="8" value="8" {% ifequal sponsor.num_golfers 8 %} selected {% endifequal %}>8</option>
<option label="9" value="9" {% ifequal sponsor.num_golfers 9 %} selected {% endifequal %}>9</option>
<option label="10" value="10" {% ifequal sponsor.num_golfers 10 %} selected {% endifequal %}>10</option>
<option label="11" value="11" {% ifequal sponsor.num_golfers 11 %} selected {% endifequal %}>11</option>
<option label="12" value="12" {% ifequal sponsor.num_golfers 12 %} selected {% endifequal %}>12</option>
</select>
<label class="right">&emsp;$450 (includes dinner)<br><i>Early registration $400 (thru Sept. 3)</i></label>
</div>
</div>

<div class="form-entry">
<div class="form-input">
<label for="entry_num_dinners">Dinner-Only</label>
<select id="entry_num_dinners" name="num_dinners">
<option label="0" value="0" {% ifequal sponsor.num_dinners 0 %} selected {% endifequal %}>0</option>
<option label="1" value="1" {% ifequal sponsor.num_dinners 1 %} selected {% endifequal %}>1</option>
<option label="2" value="2" {% ifequal sponsor.num_dinners 2 %} selected {% endifequal %}>2</option>
<option label="3" value="3" {% ifequal sponsor.num_dinners 3 %} selected {% endifequal %}>3</option>
<option label="4" value="4" {% ifequal sponsor.num_dinners 4 %} selected {% endifequal %}>4</option>
<option label="5" value="5" {% ifequal sponsor.num_dinners 5 %} selected {% endifequal %}>5</option>
<option label="6" value="6" {% ifequal sponsor.num_dinners 6 %} selected {% endifequal %}>6</option>
<option label="7" value="7" {% ifequal sponsor.num_dinners 7 %} selected {% endifequal %}>7</option>
<option label="8" value="8" {% ifequal sponsor.num_dinners 8 %} selected {% endifequal %}>8</option>
<option label="9" value="9" {% ifequal sponsor.num_dinners 9 %} selected {% endifequal %}>9</option>
<option label="10" value="10" {% ifequal sponsor.num_dinners 10 %} selected {% endifequal %}>10</option>
<option label="11" value="11" {% ifequal sponsor.num_dinners 11 %} selected {% endifequal %}>11</option>
<option label="12" value="12" {% ifequal sponsor.num_dinners 12 %} selected {% endifequal %}>12</option>
</select>
<label class="right" for="entry_num_dinners">&emsp;$175 (non-golfers only)<br><i>Early registration $150 (thru Sept. 3)</i></label>
</div>
</div>

<div id="angel" class="form-entry form-checkbox">
<div class="form-input">
<div class="checkbox-container"><input type="checkbox" name="sponsorships" id="checkbox_Angel" value="{{ angel.level }}:{{ angel.sequence }}:{{ angel.price }}" {% if angel.sequence in selected %}checked{% endif %}></div>
<label class="right" for="checkbox_Angel">Want to be an angel
and get some good PR for your organization at the same time?
Check here to become an Angel sponsor for your foursome.
For $3,000, your Angel sponsorship includes four golfers, eight banquet dinners,
and the PR benefits of being an Angel sponsor!
And you know that you are doing something very special for Congregation Shir Hadash!</label>
</div>
</div>

<div class="form-entry form-dollars">
<div class="form-input">
<label for="entry_fax">Additional Donation</label>
$<input type="text" name="other" value="{{ sponsor.additional_donation }}" id="entry_other">
</div>
</div>

</div> <!-- form-section -->

<div id="sponsor_agree" class="form-section">

<div class="form-entry form-checkbox">
<div class="form-input">
<div class="checkbox-container"><input type="checkbox" name="agree" value="y" {% if not sponsor.anonymous %} checked {% endif %} id="entry_agree"></div>
<label class="right" for="entry_agree">I/We agree to be named as a sponsor</label>
</div>
</div>

<div class="form-entry form-text">
<div class="form-input">
<label class="above" for="entry_printednames">Please enter your name(s) exactly as they should appear:</label>
<input type="text" name="printed_names" value="{{ sponsor.printed_names }}" id="entry_printednames">
</div>
</div>

</div> <!-- form-section -->

<div class="form-section">

<div class="form-entry form-dollars">
<div class="form-input">
<label for="entry_payment_due">Payment Due</label>
$<input type="text" name="payment_due_c" value="{{ sponsor.payment_due }}" id="entry_payment_due_c" readonly>
<input type="hidden" name="payment_due" value="{{ sponsor.payment_due }}" id="entry_payment_due">
</div>
</div>

</div> <!-- form-section -->

{% if capabilities.can_add_registrations %}
<div class="form-section">

<p class="subhead">(Office use only)</p>

<div class="form-entry form-dollars">
<div class="form-input">
<label for="entry_payment_made">Payment Made</label>
$<input type="text" name="payment_made" value="{% if sponsor.payment_made %}{{ sponsor.payment_made }}{% endif %}" id="entry_payment_made">
</div>
</div>

<div class="form-entry-left form-text">
<div class="form-input">
<label for="entry_paytype">Payment Type</label>
<input type="text" name="paytype" value="{{ sponsor.payment_type|default:'' }}" id="entry_paytype">
</div>
</div>

<div class="form-entry-left form-text">
<div class="form-input">
<label for="entry_transcode">Transaction Code</label>
<input type="text" name="transcode" value="{{ sponsor.transaction_code|default:'' }}" id="entry_transcode">
</div>
</div>

</div> <!-- form-section -->
{% endif %}

{% if debug %}
<input type="hidden" name="debug" value="y">
{% endif %}

<div class="form-submit-section">

<div class="form-entry form-submit">
<div class="form-button">
{% if capabilities.can_add_registrations %}
<input type="submit" name="save" value="Save">
{% endif %}
<input type="submit" name="submit" value="Continue ->">
</div>
</div>

</div> <!-- form-section -->

</div> <!-- register_form -->

</form>

<h2>Download Registration Forms</h2>

<ul>
	<li><a href="http://www.shirhadash.org/celebrationclassic/Single%20Sign%20Up.pdf">Registration form for singles</a></li>
	<li><a href="http://www.shirhadash.org/celebrationclassic/Twosome%20Sign%20Up.pdf">Registration form for twosomes</a></li>
	<li><a href="http://www.shirhadash.org/celebrationclassic/Foursome%20Sign%20Up.pdf">Registration form for foursomes</a></li>
</ul>
{% endblock %}
