{% extends "base.html" %}

{% load custom_filters %}
{% load humanize %}

{% block title %}Registration Step 1{% endblock %}

{% block head %}
<link rel="stylesheet" href="/css/register.css" type="text/css">
<script src="/js/register.js" type="text/javascript" language="javascript"></script>
<script type="text/javascript" language="javascript">
window.addEventListener('load', function() {
	install_recalculate_hooks();
	recalculate();
});
</script>
{% endblock %}

{% block content %}
<h2>Registration: Step 1</h2>

{% if registration_closed %}
<p>Sorry, registration for the Celebration Classic is now closed.</p>
{% endif %}

{{ page.content|markdown }}

{% for m in messages %}
<p class="message">{{ m|escape }}</p>
{% endfor %}

{% if tournament.golf_price_late %}

<form action="/register" method="post" accept-charset="utf-8">

<div id="register-form" class="form">

<div class="form-section">

<div class="form-entry form-text">
<div class="form-input">
<label for="entry_first_name">* Name</label>
<input class="form-first-name" type="text" name="first_name" value="{{ sponsor.first_name }}" id="entry_first_name" placeholder="First">
<input class="form-last-name" type="text" name="last_name" value="{{ sponsor.last_name }}" id="entry_last_name" placeholder="Last">
</div>
</div>

<div class="form-entry-left form-text">
<div class="form-input">
<label for="entry_company">Company</label>
<input type="text" name="company" value="{{ sponsor.company }}" id="entry_company" placeholder="Company">
</div>
</div>

<div class="form-entry-left form-text">
<div class="form-input">
<label for="entry_address">* Address</label>
<input type="text" name="address" value="{{ sponsor.address }}" id="entry_address" placeholder="Street">
</div>
</div>

<div class="form-entry form-text">
<div class="form-input">
<!--<label for="entry_city">* City, State, ZIP</label>-->
<input class="form-city" type="text" name="city" value="{{ sponsor.city }}" id="entry_city" placeholder="City">
<input class="form-state" type="text" name="state" value="{{ sponsor.state }}" id="entry_state" placeholder="State">
<input class="form-zip" type="text" name="zip" value="{{ sponsor.zip }}" id="entry_zip" placeholder="ZIP">
</div>
</div>

<div class="form-entry-left form-text">
<div class="form-input">
<label for="entry_email">* Email</label>
<input type="email" name="email" value="{{ sponsor.email }}" id="entry_email" placeholder="Email">
</div>
</div>

<div class="form-entry-left form-phone">
<div class="form-input">
<label for="entry_phone">* Phone</label>
<input type="tel" name="phone" value="{{ sponsor.phone }}" id="entry_phone" placeholder="Phone">
</div>
</div>

<div class="form-entry-left form-phone">
<div class="form-input">
<label for="entry_fax">Fax</label>
<input type="tel" name="fax" value="{{ sponsor.fax }}" id="entry_fax" placeholder="Fax">
</div>
</div>

<input type="hidden" name="id" value="{{ sponsor.id }}">
<input type="hidden" id="early_bird" name="early_bird" value="{% if early_bird %}1{% else %}0{% endif %}">
<input type="hidden" id="golf_price_early" name="golf_price_early" value="{{ tournament.golf_price_early }}">
<input type="hidden" id="golf_price_late" name="golf_price_late" value="{{ tournament.golf_price_late }}">
<input type="hidden" id="dinner_price_early" name="dinner_price_early" value="{{ tournament.dinner_price_early }}">
<input type="hidden" id="dinner_price_late" name="dinner_price_late" value="{{ tournament.dinner_price_late }}">

</div> <!-- form-section -->

<div class="form-section" id="sponsorships">

<div class="form-entry form-checkbox">
<div class="form-input">
<div class="checkbox-container"><input type="checkbox" name="show_sponsorships" id="checkbox_show_sponsorships" value="y" {% if non_angel_selected %}checked{% endif %}></div>
<label class="right" for="checkbox_show_sponsorships">Check here if you would like to be a
Premier, Hole-in-One, Eagle, or Birdie sponsor for this event.
<a href="sponsor.html" target="_blank">Learn more about sponsorship opportunities</a>.</label>
</div>
</div>

<div id="sponsorship_choices" class="form-column-container">
<div class="form-column">

<h3>Premier Sponsors</h3>

{% for sponsorship in premier %}
<div class="form-entry form-checkbox">
<div class="form-input">
<div class="checkbox-container"><input type="checkbox" name="sponsorships" id="checkbox_{{ sponsorship.level|slugify }}_{{ sponsorship.sequence }}" value="{{ sponsorship.level }}:{{ sponsorship.sequence }}:{{ sponsorship.price }}:{{ sponsorship.golfers_included }}" {% if sponsorship.sequence in selected %}checked{% elif sponsorship.sold %}disabled{% endif %}></div>
<label class="right {% if sponsorship.sold %}sold{% endif %}" for="checkbox_{{ sponsorship.level|slugify }}_{{ sponsorship.sequence }}">{{ sponsorship.name }} ({% if sponsorship.sold %}SOLD{% else %}$<script type="text/javascript" language="javascript">document.write(add_commas({{ sponsorship.price }}));</script>{% endif%})</label>
</div>
</div>
{% endfor %}

<h3>Hole-in-One Sponsors</h3>

{% for sponsorship in holeinone %}
<div class="form-entry form-checkbox">
<div class="form-input">
<div class="checkbox-container"><input type="checkbox" name="sponsorships" id="checkbox_{{ sponsorship.level|slugify }}_{{ sponsorship.sequence }}" value="{{ sponsorship.level }}:{{ sponsorship.sequence }}:{{ sponsorship.price }}:{{ sponsorship.golfers_included }}" {% if sponsorship.sequence in selected %}checked{% elif sponsorship.sold %}disabled{% endif %}></div>
<label class="right {% if sponsorship.sold %}sold{% endif %}" for="checkbox_{{ sponsorship.level|slugify }}_{{ sponsorship.sequence }}">{{ sponsorship.name }} ({% if sponsorship.sold %}SOLD{% else %}$<script type="text/javascript" language="javascript">document.write(add_commas({{ sponsorship.price }}));</script>{% endif%})</label>
</div>
</div>
{% endfor %}

</div> <!-- form-column -->

<div class="form-column">

<h3>Eagle Sponsors</h3>

{% for sponsorship in eagle %}
<div class="form-entry form-checkbox">
<div class="form-input">
<div class="checkbox-container"><input type="checkbox" name="sponsorships" id="checkbox_{{ sponsorship.level|slugify }}_{{ sponsorship.sequence }}" value="{{ sponsorship.level }}:{{ sponsorship.sequence }}:{{ sponsorship.price }}:{{ sponsorship.golfers_included }}" {% if sponsorship.sequence in selected %}checked{% elif sponsorship.sold %}disabled{% endif %}></div>
<label class="right {% if sponsorship.sold %}sold{% endif %}" for="checkbox_{{ sponsorship.level|slugify }}_{{ sponsorship.sequence }}">{{ sponsorship.name }} ({% if sponsorship.sold %}SOLD{% else %}$<script type="text/javascript" language="javascript">document.write(add_commas({{ sponsorship.price }}));</script>{% endif%})</label>
</div>
</div>
{% endfor %}

<h3>Birdie Sponsors</h3>

{% for sponsorship in birdie %}
<div class="form-entry form-checkbox">
<div class="form-input">
<div class="checkbox-container"><input type="checkbox" name="sponsorships" id="checkbox_{{ sponsorship.level|slugify }}_{{ sponsorship.sequence }}" value="{{ sponsorship.level }}:{{ sponsorship.sequence }}:{{ sponsorship.price }}:{{ sponsorship.golfers_included }}" {% if sponsorship.sequence in selected %}checked{% elif sponsorship.sold %}disabled{% endif %}></div>
<label class="right {% if sponsorship.sold %}sold{% endif %}" for="checkbox_{{ sponsorship.level|slugify }}_{{ sponsorship.sequence }}">{{ sponsorship.name }} ({% if sponsorship.sold %}SOLD{% else %}$<script type="text/javascript" language="javascript">document.write(add_commas({{ sponsorship.price }}));</script>{% endif%})</label>
</div>
</div>
{% endfor %}

</div> <!-- form-column -->
</div> <!-- form-column-container -->

</div> <!-- form-section -->

<div class="form-section">

<p class="subhead"><span id="included_text"></span></p>

<div class="form-entry">
<div class="form-input">
<label for="entry_num_golfers">Golfers</label>
<select id="entry_num_golfers" name="num_golfers">
<option label="0" value="0" {% ifequal sponsor.num_golfers 0 %} selected {% endifequal %}>0</option>
<option label="1" value="1" {% ifequal sponsor.num_golfers 1 %} selected {% endifequal %}>1</option>
<option label="2" value="2" {% ifequal sponsor.num_golfers 2 %} selected {% endifequal %}>2</option>
<option label="3" value="3" {% ifequal sponsor.num_golfers 3 %} selected {% endifequal %}>3</option>
<option label="4" value="4" {% ifequal sponsor.num_golfers 4 %} selected {% endifequal %}>4</option>
<option label="5" value="5" {% ifequal sponsor.num_golfers 5 %} selected {% endifequal %}>5</option>
<option label="6" value="6" {% ifequal sponsor.num_golfers 6 %} selected {% endifequal %}>6</option>
<option label="7" value="7" {% ifequal sponsor.num_golfers 7 %} selected {% endifequal %}>7</option>
<option label="8" value="8" {% ifequal sponsor.num_golfers 8 %} selected {% endifequal %}>8</option>
<option label="9" value="9" {% ifequal sponsor.num_golfers 9 %} selected {% endifequal %}>9</option>
<option label="10" value="10" {% ifequal sponsor.num_golfers 10 %} selected {% endifequal %}>10</option>
<option label="11" value="11" {% ifequal sponsor.num_golfers 11 %} selected {% endifequal %}>11</option>
<option label="12" value="12" {% ifequal sponsor.num_golfers 12 %} selected {% endifequal %}>12</option>
</select>
<label class="right">&emsp;${{ tournament.golf_price_late }} (includes dinner){% if early_bird and tournament.golf_price_early != tournament.golf_price_late %}<br><i>Early registration ${{ tournament.golf_price_early }} (through {{ early_bird_deadline }})</i>{% endif %}</label>
</div>
</div>

<div class="form-entry">
<div class="form-input">
<label for="entry_num_dinners">Dinner-Only</label>
<select id="entry_num_dinners" name="num_dinners">
<option label="0" value="0" {% ifequal sponsor.num_dinners 0 %} selected {% endifequal %}>0</option>
<option label="1" value="1" {% ifequal sponsor.num_dinners 1 %} selected {% endifequal %}>1</option>
<option label="2" value="2" {% ifequal sponsor.num_dinners 2 %} selected {% endifequal %}>2</option>
<option label="3" value="3" {% ifequal sponsor.num_dinners 3 %} selected {% endifequal %}>3</option>
<option label="4" value="4" {% ifequal sponsor.num_dinners 4 %} selected {% endifequal %}>4</option>
<option label="5" value="5" {% ifequal sponsor.num_dinners 5 %} selected {% endifequal %}>5</option>
<option label="6" value="6" {% ifequal sponsor.num_dinners 6 %} selected {% endifequal %}>6</option>
<option label="7" value="7" {% ifequal sponsor.num_dinners 7 %} selected {% endifequal %}>7</option>
<option label="8" value="8" {% ifequal sponsor.num_dinners 8 %} selected {% endifequal %}>8</option>
<option label="9" value="9" {% ifequal sponsor.num_dinners 9 %} selected {% endifequal %}>9</option>
<option label="10" value="10" {% ifequal sponsor.num_dinners 10 %} selected {% endifequal %}>10</option>
<option label="11" value="11" {% ifequal sponsor.num_dinners 11 %} selected {% endifequal %}>11</option>
<option label="12" value="12" {% ifequal sponsor.num_dinners 12 %} selected {% endifequal %}>12</option>
</select>
<label class="right" for="entry_num_dinners">&emsp;${{ tournament.dinner_price_late }} (non-golfers only){% if early_bird and tournament.dinner_price_early != tournament.dinner_price_late %}<br><i>Early registration ${{ tournament.dinner_price_early }} (through {{ early_bird_deadline }})</i>{% endif %}</label>
</div>
</div>

<div id="angel" class="form-entry form-checkbox">
<div class="form-input">
<div class="checkbox-container"><input type="checkbox" name="sponsorships" id="checkbox_Angel" value="{{ angel.level }}:{{ angel.sequence }}:{{ angel.price }}:{{ angel.golfers_included }}" {% if angel.sequence in selected %}checked{% endif %}></div>
<label class="right" for="checkbox_Angel">Want to be an angel
and get some good PR for your organization at the same time?
Check here to become an Angel sponsor for your foursome.
For ${{ angel.price|intcomma }}, your Angel sponsorship includes four golfers, eight banquet dinners,
and the PR benefits of being an Angel sponsor!
And you know that you are doing something very special for Congregation Shir Hadash!</label>
</div>
</div>

<div class="form-entry form-dollars">
<div class="form-input">
<label for="entry_fax">Additional Donation</label>
$<input type="number" name="other" value="{{ sponsor.additional_donation }}" id="entry_other">
</div>
</div>

</div> <!-- form-section -->

<div class="form-section">
<div class="form-entry form-checkbox">
<div class="form-input">
<div class="checkbox-container"><input type="checkbox" name="show_go_campaign" id="checkbox_show_go_campaign" value="y" {% if sponsor.go_discount_code %}checked{% endif %}></div>
<label class="right" for="checkbox_show_go_campaign">Check here if you are a Shir Hadash GO campaign member.</label>
</div>
</div>
<div class="form-entry form-text" id="go_campaign">
<div class="form-input">
<label for="entry_discount_code">Discount Code</label>
<input type="text" name="discount_code" value="{{ sponsor.go_discount_code|default:'' }}" id="entry_discount_code">
<input class="form-submit" type="submit" name="apply_discount" value="Apply">
<input type="hidden" name="go_golfers" value="{{ sponsor.go_golfers|default:0 }}" id="entry_go_golfers">
<br><label class="right" for="entry_discount_code"><i>Enter your GO campaign discount code here.
<a href="mailto:gordon@shirhadash.org">Contact Gordon Gladstone</a> if you haven't received one.</i></label>
</div>
</div>
</div> <!-- form-section -->


<div id="sponsor_agree" class="form-section">

<div class="form-entry form-checkbox">
<div class="form-input">
<div class="checkbox-container"><input type="checkbox" name="agree" value="y" {% if not sponsor.anonymous %} checked {% endif %} id="entry_agree"></div>
<label class="right" for="entry_agree">I/We agree to be named as a sponsor</label>
</div>
</div>

<div class="form-entry form-text">
<div class="form-input">
<label class="above" for="entry_printednames">Please enter your name(s) exactly as they should appear:</label>
<input type="text" name="printed_names" value="{{ sponsor.printed_names }}" id="entry_printednames">
</div>
</div>

</div> <!-- form-section -->

<div class="form-section">

<div class="form-entry form-dollars">
<div class="form-input">
<label for="entry_payment_due_c">Total</label>
$<input type="text" name="payment_due_c" value="{{ sponsor.payment_due }}" id="entry_payment_due_c" readonly>
<input type="hidden" name="payment_due" value="{{ sponsor.payment_due }}" id="entry_payment_due">
</div>
</div>

<div class="form-entry form-dollars">
<div class="form-input">
<label for="entry_credits_c">Payments &amp; Credits</label>
$<input type="text" name="credits_c" value="{{ credits }}" id="entry_credits_c" readonly>
<input type="hidden" name="credits" value="{{ credits }}" id="entry_credits">
</div>
</div>

<div class="form-entry form-dollars">
<div class="form-input">
<label for="entry_net_payment_due_c">Amount Due</label>
$<input type="text" name="net_payment_due_c" value="{{ net_payment_due }}" id="entry_net_payment_due_c" readonly>
<input type="hidden" name="net_payment_due" value="{{ net_payment_due }}" id="entry_net_payment_due">
</div>
</div>

</div> <!-- form-section -->

<div class="form-section">

<div class="form-entry form-checkbox">
<div class="form-input">
<div class="checkbox-container"><input type="checkbox" name="share_email" value="y" {% if sponsor.ok_to_share_email %} checked {% endif %} id="entry_share_email"></div>
<label class="right" for="entry_agree"><i>The Celebration Classic sponsors
have generously contributed money to the tournament.
Some of the sponsors are interested in contacting golfers and dinner participants
to see if there may be interest in their products.
If you would be willing to share your email address with interested sponsors, check this box.
If you do not check the box, your email address will not be given to anyone.</i></label>
</div>
</div>

</div> <!-- form-section -->

{% if capabilities.can_add_registrations %}
<div class="form-section">

<p class="subhead">(Office use only)</p>

<div class="form-entry form-dollars">
<div class="form-input">
<label for="entry_payment_made">Payment Made</label>
$<input type="number" name="payment_made" value="{% if sponsor.payment_made %}{{ sponsor.payment_made }}{% endif %}" id="entry_payment_made">
</div>
</div>

<div class="form-entry-left form-text">
<div class="form-input">
<label for="entry_paytype">Payment Type</label>
<input type="text" name="paytype" value="{{ sponsor.payment_type|default:'' }}" id="entry_paytype">
</div>
</div>

<div class="form-entry-left form-text">
<div class="form-input">
<label for="entry_transcode">Transaction Code</label>
<input type="text" name="transcode" value="{{ sponsor.transaction_code|default:'' }}" id="entry_transcode">
</div>
</div>

<div class="form-entry-left form-text">
<div class="form-input">
<label for="entry_transcode">Authorization Code</label>
<input type="text" name="authcode" value="{{ sponsor.auth_code|default:'' }}" id="entry_authcode">
</div>
</div>

<div class="form-entry form-dollars">
<div class="form-input">
<label for="entry_discount">Discount</label>
$<input type="number" name="discount" value="{% if sponsor.discount %}{{ sponsor.discount }}{% endif %}" id="entry_discount">
</div>
</div>

<div class="form-entry-left form-text">
<div class="form-input">
<label for="entry_discount_type">Discount Type</label>
<input type="text" name="discount_type" value="{% if sponsor.discount_type %}{{ sponsor.discount_type }}{% endif %}" id="entry_discount_type">
</div>
</div>

</div> <!-- form-section -->
{% endif %}

{% if debug %}
<input type="hidden" name="debug" value="y">
{% endif %}

<div class="form-submit-section">

<div class="form-entry form-submit">
<div class="form-button">
{% if capabilities.can_add_registrations %}
<input type="submit" name="save" value="Save">
{% endif %}
<input type="submit" name="submit" value="Continue &rarr;">
</div>
</div>

</div> <!-- form-section -->

</div> <!-- register_form -->

</form>

{% endif %} <!-- if tournament.golf_price_late -->

{% endblock %}
