{% extends "base.html" %}

{% block title %}Tournament Properties{% endblock %}

{% block head %}
<style type="text/css">
#body #nav { display: none; }
#body #content { float: left; width: 100%; margin: 1em 0 3em; }
h2 { text-align: center; }
form table { margin: 0 auto; }
form table tr th { font-size: 75%; }
</style>
<script type="text/javascript" language="javascript">
var months_of_year = [ "January", "February", "March", "April", "May", "June",
					   "July", "August", "September", "October", "November", "December" ];
function gen_date_picker(name, month, day, year) {
	document.write("<select name=" + name + "_month>");
	for (var m = 1; m <= 12; m++)
		document.write("<option label=\"" + months_of_year[m-1] + "\" value=\"" + m + "\"" +
					   (m == month ? " selected" : "") + ">" +
					   months_of_year[m-1] + "</option>");
	document.write("</select>");
	document.write("<select name=" + name + "_day>");
	for (var d = 1; d <= 31; d++)
		document.write("<option label=\"" + d + "\" value=\"" + d + "\"" +
					   (d == day ? " selected" : "") + ">" +
					   d + "</option>");
	document.write("</select>");
	document.write("<select name=" + name + "_year>");
	for (var y = 2014; y <= 2015; y++)
		document.write("<option label=\"" + y + "\" value=\"" + y + "\"" +
					   (y == year ? " selected" : "") + ">" +
					   y + "</option>");
	document.write("</select>");
}
</script>
{% endblock %}

{% block content %}
<h2>Tournament Properties</h2>
<form action="/admin/tournament" method="post">
<table border="0" cellspacing="0" cellpadding="10">
<tr>
<td align="left">Golf Tournament</td>
<td align="left">
<script type="text/javascript" language="javascript">
gen_date_picker("golf", {{ tournament.golf_date.month }}, {{ tournament.golf_date.day }}, {{ tournament.golf_date.year }});
</script>
</td>
</tr>
<tr>
<td align="left">Dinner</td>
<td align="left">
<script type="text/javascript" language="javascript">
gen_date_picker("dinner", {{ tournament.dinner_date.month }}, {{ tournament.dinner_date.day }}, {{ tournament.dinner_date.year }});
</script>
</td>
</tr>
<tr>
<td align="left">Early Bird Deadline</td>
<td align="left">
<script type="text/javascript" language="javascript">
gen_date_picker("early_bird", {{ tournament.early_bird_deadline.month }}, {{ tournament.early_bird_deadline.day }}, {{ tournament.early_bird_deadline.year }});
</script>
</td>
</tr>
<tr>
<td align="left">Final Deadline</td>
<td align="left">
<script type="text/javascript" language="javascript">
gen_date_picker("deadline", {{ tournament.deadline.month|default:5 }}, {{ tournament.deadline.day|default:18 }}, {{ tournament.deadline.year|default:2015 }});
</script>
</td>
</tr>
<tr>
<td align="left">Early Bird Golfer Price</td>
<td align="left"><input type="text" size="5" name="golf_price_early" value="{{ tournament.golf_price_early }}"></td>
</tr>
<tr>
<td align="left">Early Bird Dinner Price</td>
<td align="left"><input type="text" size="5" name="dinner_price_early" value="{{ tournament.dinner_price_early }}"></td>
</tr>
<tr>
<td align="left">Late Golfer Price</td>
<td align="left"><input type="text" size="5" name="golf_price_late" value="{{ tournament.golf_price_late }}"></td>
</tr>
<tr>
<td align="left">Late Dinner Price</td>
<td align="left"><input type="text" size="5" name="dinner_price_late" value="{{ tournament.dinner_price_late }}"></td>
</tr>
<tr>
<td align="left">Golf Sold Out</td>
<td align="left"><input type="checkbox" name="golf_sold_out" value="y" {% if tournament.golf_sold_out %}checked{% endif %}></td>
</tr>
<tr>
<td align="left">Dinner Sold Out</td>
<td align="left"><input type="checkbox" name="dinner_sold_out" value="y" {% if tournament.dinner_sold_out %}checked{% endif %}></td>
</tr>
<tr>
<td align="left">GO Discount Codes</td>
<td align="left"><input type="text" size="20" name="go_discount_codes" value="{{ tournament.go_discount_codes|default:"" }}"></td>
</tr>
<tr>
<td align="left">Red Tees</td>
<td align="left">Rating <input type="text" size="5" name="red_course_rating" value="{{ tournament.red_course_rating }}">
Slope <input type="text" size="5" name="red_course_slope" value="{{ tournament.red_course_slope }}"></td>
</tr>
<tr>
<td align="left">White Tees</td>
<td align="left">Rating <input type="text" size="5" name="white_course_rating" value="{{ tournament.white_course_rating }}">
Slope <input type="text" size="5" name="white_course_slope" value="{{ tournament.white_course_slope }}"></td>
</tr>
<tr>
<td align="left">Blue Tees</td>
<td align="left">Rating <input type="text" size="5" name="blue_course_rating" value="{{ tournament.blue_course_rating }}">
Slope <input type="text" size="5" name="blue_course_slope" value="{{ tournament.blue_course_slope }}"></td>
</tr>
<tr>
<td></td>
<td><input type="submit" value="Save"></td>
</tr>
</table>
</form>
{% endblock %}
