{% extends "wide.html" %}

{% block title %}Users{% endblock %}

{% block head %}
<style type="text/css">
form table { margin: 0 auto; }
form table tr th { font-size: 75%; }
</style>
{% endblock %}

{% block content %}
<h2>Users</h2>
<form action="/admin/users" method="post">
<table border="0" cellspacing="0" cellpadding="10">
<tr valign="bottom">
	<th align="left">Email</th>
	<th>Update<br>Sponsorships</th>
	<th>View<br>Registrations</th>
	<th>Add<br>Registrations</th>
	<th>Update<br>Auction</th>
	<th>Edit<br>Content</th>
	<th>Edit<br>Tournament</th>
	<th>Edit<br>Payment<br>Processor</th>
</tr>
{% for u in allcaps %}
<tr>
	<td align="left">{{ u.email }}<input type="hidden" name="email{{ forloop.counter }}" value="{{ u.email }}"></td>
	<td align="center"><input type="checkbox" name="us{{ forloop.counter }}" value="u" {% if u.can_update_sponsorships %}checked{% endif %}></td>
	<td align="center"><input type="checkbox" name="vr{{ forloop.counter }}" value="v" {% if u.can_view_registrations %}checked{% endif %}></td>
	<td align="center"><input type="checkbox" name="ar{{ forloop.counter }}" value="a" {% if u.can_add_registrations %}checked{% endif %}></td>
	<td align="center"><input type="checkbox" name="ua{{ forloop.counter }}" value="u" {% if u.can_update_auction %}checked{% endif %}></td>
	<td align="center"><input type="checkbox" name="ec{{ forloop.counter }}" value="e" {% if u.can_edit_content %}checked{% endif %}></td>
	<td align="center"><input type="checkbox" name="et{{ forloop.counter }}" value="t" {% if u.can_edit_tournament_properties %}checked{% endif %}></td>
	<td align="center"><input type="checkbox" name="pp{{ forloop.counter }}" value="p" {% if u.can_edit_payment_processor %}checked{% endif %}></td>
</tr>
{% endfor %}
<tr>
	<td align="left"><input type="text" size="30" name="email" value=""></td>
	<td align="center"><input type="checkbox" name="us" value="u"></td>
	<td align="center"><input type="checkbox" name="vr" value="v"></td>
	<td align="center"><input type="checkbox" name="ar" value="a"></td>
	<td align="center"><input type="checkbox" name="ua" value="u"></td>
	<td align="center"><input type="checkbox" name="ec" value="e"></td>
	<td align="center"><input type="checkbox" name="et" value="t"></td>
	<td align="center"><input type="checkbox" name="pp" value="p"></td>
</tr>
<tr>
	<td colspan="7" align="center">
	<input type="hidden" name="count" value="{{ allcaps|length }}">
	<input type="submit" value="Save">
	</td>
</tr>
</table>
</form>
{% endblock %}
