{% extends "base.html" %}

{% block title %}Golfers By Team{% endblock %}

{% block head %}
<style type="text/css">
#body { width: 95%; }
#body #header { margin-left: auto; margin-right: auto; }
#body #footer { margin-left: auto; margin-right: auto; }
#body #nav { display: none; }
#body #content { float: none; width: 100%; margin: 1em 0 3em; }
#body table { width: 40em; border: none; border-collapse: collapse; border-bottom: 2px solid #c4e5c4; margin: 0 auto 2em; }
#body thead tr { border-bottom: 2px solid #c4e5c4; }
#body tbody tr.team { border-top: 2px solid #c4e5c4; }
#body tbody tr:hover { background-color: #e7fbe7; }
#body th { color: #6061ab; padding: 0.5em; font-size: 80%; }
#body td { padding: 0.25em; }
#body tr.team td { padding-top: 0.5em; }
#body tr.team td.teamname { font-weight: bold; }
#body td.firstcol { padding-left: 2em; }
#body td p { margin: 0; }
#body td p.details { margin-left: 1em; font-size: 80%; color: #555; }
#body tr.pairing p { font-size: 80%; font-style: italic; color: #555; }
h2 { text-align: center; }
ul.viewnav { list-style: none; margin: 0 0 1em 0; padding: 0; text-align: center; }
ul.viewnav li { display: inline; margin: 0; padding: 0 0.5em; }
ul.viewnav li {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Lucida, sans-serif;
}
ul.viewnav li.selected a { font-weight: bold; color: #157d15; text-decoration: none; }
ul.viewnav li.selected a:hover { font-weight: bold; color: #157d15; text-decoration: none; }
.note { font-style: italic; text-align: center; }
</style>
{% endblock %}

{% block content %}
<ul class="viewnav">
	<li><a href="/admin/view/registrations">All</a></li>
	<li class="selected"><a href="/admin/view/golfers">Golfers</a></li>
	<li><a href="/admin/view/dinners">Dinners</a></li>
	<li><a href="/admin/view/unpaid">Unpaid</a></li>
	<li><a href="/admin/view/incomplete">Incomplete</a></li>
	<li><a href="/admin/view/unconfirmed">Unconfirmed</a></li>
</ul>
<ul class="viewnav">
	<li><a href="/admin/view/golfers">By Sponsor</a></li>
	<li><a href="/admin/view/golfers/byname">By Name</a></li>
	<li class="selected"><a href="/admin/view/golfers/byteam">By Team</a></li>
	<li><a href="/admin/view/golfers/bystart">By Start</a></li>
	<li><a href="/admin/view/golfers/handicap">Handicap</a></li>
	<li><a href="/admin/view/golfers/pairing">Pairing</a></li>
	<li><a href="/admin/csv/golfers">Download CSV</a></li>
</ul>

<h2>Golfers by Team</h2>

<p class="note">(Note: Unassigned golfers are not shown in this view.)</p>

{% if teams %}

<table>
<thead>
	<tr valign="bottom">
		<th align="left">Team<br>&emsp;&emsp;&ensp;Golfer</th>
		<th align="center">Starting Hole<br>Cart</th>
		<th align="center">Tees</th>
		<th align="right">Course<br>Handicap</th>
		<th align="right">Team<br>Handicap</th>
	</tr>
</thead>
<tbody>
{% for t in teams %}
	<tr class="team" valign="baseline">
		<td class="teamname">{{ t.name }}</td>
		<td align="center">{{ t.starting_hole }}</td>
		<td></td>
		<td></td>
		<td align="right">{{ t.team_handicap }}</td>
	</tr>
{% for g in t.golfers %}
	<tr class="golfer" valign="baseline">
		<td>&emsp;&emsp;{{ g.first_name }} {{ g.last_name }}</td>
		<td align="center">{{ g.cart }}</td>
		<td align="center">{% if g.tees == 1 %}Red{% elif g.tees == 2 %}White{% elif g.tees == 3 %}Blue{% endif %}</td>
		<td align="right">{{ g.course_handicap }}</td>
		<td></td>
	</tr>
{% endfor %}
{% endfor %}
</tbody>
</table>

{% else %}

<p>No teams.</p>

{% endif %}

{% endblock %}
