{% extends "base.html" %}

{% block title %}Dinners{% endblock %}

{% block head %}
<style type="text/css">
/* #body { width: 95%; }
#body #header { margin-left: auto; margin-right: auto; }
#body #footer { margin-left: auto; margin-right: auto; } */
#body #nav { display: none; }
#body #content { float: none; width: 100%; margin: 1em 0 3em; }
#body table { width: 100%; border: none; border-collapse: collapse; border-bottom: 2px solid #c4e5c4; margin-bottom: 2em; }
#body thead tr { border-bottom: 2px solid #c4e5c4; }
#body tbody tr.sponsor { border-top: 1px solid #c4e5c4; }
#body tbody tr.guest:hover { background-color: #e7fbe7; }
#body th { color: #6061ab; padding: 0.5em; font-size: 80%; }
#body td { padding: 0.5em; }
#body tr.sponsor td { font-weight: bold; padding-top: 1em; }
#body td.firstcol { padding-left: 2em; }
#body td p { margin: 0; }
#body td p.details { margin-left: 1em; font-size: 80%; color: #555; }
#body tr.seating p { font-size: 80%; font-style: italic; color: #555; }
h2 { text-align: center; }
ul.viewnav { list-style: none; margin: 0 0 1em 0; padding: 0; text-align: center; }
ul.viewnav li { display: inline; margin: 0; padding: 0 1em 0 0; }
ul.viewnav li {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Lucida, sans-serif;
}
ul.viewnav li.selected a { font-weight: bold; color: #157d15; text-decoration: none; }
ul.viewnav li.selected a:hover { font-weight: bold; color: #157d15; text-decoration: none; }
</style>
{% endblock %}

{% block content %}
<ul class="viewnav">
	<li><a href="/admin/view/registrations">All</a></li>
	<li><a href="/admin/view/golfers">Golfers</a></li>
	<li class="selected"><a href="/admin/view/dinners">Dinners</a></li>
	<li><a href="/admin/view/unpaid">Unpaid</a></li>
	<li><a href="/admin/view/incomplete">Incomplete</a></li>
	<li><a href="/admin/view/unconfirmed">Unconfirmed</a></li>
</ul>
<ul class="viewnav">
	<li><a href="/admin/csv/dinners">Download CSV</a></li>
</ul>

<h2>Dinners</h2>

{% if dinners %}

<table>
<thead>
	<tr valign="bottom">
		<th align="left">Contact<br>&emsp;&emsp;Golfer/Dinner Guest</th>
		<th align="left">Dinner Choice</th>
	</tr>
</thead>
<tbody>
{% for d in dinners %}
	{% ifequal d.sequence 1 %}
	<tr class="sponsor" valign="baseline">
	<td colspan="2"><a href="/register?id={{ d.sponsor_id }}">{{ d.sponsor_name }}</a></td>
	</tr>
	{% endifequal %}
	<tr class="guest" valign="baseline">
		<td class="firstcol">{{ d.count }}.&ensp;{{ d.guest_name }}</td>
		<td>{{ d.dinner_choice }}</td>
	</tr>
	{% if d.seating %}
	<tr class="seating" valign="baseline">
		<td class="firstcol" colspan="2"><p>Seating preference: {{ d.seating }}</p></td>
	</tr>
	{% endif %}
{% endfor %}
</tbody>
</table>

{% else %}

<p>No dinner guests.</p>

{% endif %}

<p><b>Total dinners:</b></p>
<ul>
{% for key, value in dinner_choices.items %}
	<li>{{ key }}: {{ value }}</li>
{% endfor %}
</ul>
{% endblock %}
