{% extends "wide.html" %}

{% block title %}Handicapping{% endblock %}

{% block head %}
<style type="text/css">
#body table { border: none; border-collapse: collapse; border-bottom: 2px solid #c4e5c4; margin: 0 auto 2em; }
#body thead tr { border-bottom: 2px solid #c4e5c4; }
#body tbody tr.sponsor { border-top: 1px solid #c4e5c4; }
#body tbody tr.golfer:hover { background-color: #e7fbe7; }
#body th { color: #6061ab; padding: 0.5em; font-size: 80%; }
#body td { padding: 0.5em; }
#body tr.sponsor td { font-weight: bold; padding-top: 1em; }
#body td.firstcol { padding-left: 2em; }
#body td p { margin: 0; }
#body td p.details { margin-left: 1em; font-size: 80%; color: #555; }
#body tr.pairing p { font-size: 80%; font-style: italic; color: #555; }
.buttons { text-align: center; }
div.popup { position: absolute; font-size: 80%; left: 0; top: 0; z-index: 99; padding: 5px; border: 1px solid black; background-color: #fff; }
div.popup p { text-align: center; margin: 1em 3em; }
div.popup .closebox { position: absolute; left: 10px; top: 5px; width: 1em; height: 1em; cursor: pointer; }
#container div.popup table { border-bottom: none; margin-bottom: 0; }
#container div.popup table thead tr { border-bottom: none; }
#container div.popup table th { text-align: left; }
#container div.popup a { cursor: pointer; }
</style>
<script src="/js/ghinlookup.js" type="text/javascript" language="javascript"></script>
<script type="text/javascript" language="javascript">
window.addEventListener('load', function() {
	initialize();
});
</script>
{% endblock %}

{% block subnav %}
<ul class="viewnav">
	<li><a href="/admin/view/registrations">All Registrations</a></li>
	<li><a href="/admin/view/golfers">Golfers by Sponsor</a></li>
	<li><a href="/admin/view/golfers/byname">Golfers by Name</a></li>
	<li><a href="/admin/view/golfers/byteam">Golfers by Team</a></li>
	<li><a href="/admin/view/golfers/bystart">Golfers by Start</a></li>
	<li class="selected"><a href="/admin/view/golfers/handicap">Handicap</a></li>
	<li><a href="/admin/view/golfers/pairing">Pairing</a></li>
	<li><a href="/admin/view/dinners">Dinners</a></li>
	<li><a href="/admin/view/unpaid">Unpaid</a></li>
	<li><a href="/admin/view/incomplete">Incomplete</a></li>
	<li><a href="/admin/view/unconfirmed">Unconfirmed</a></li>
</ul>
{% endblock %}

{% block content %}
<h2>Handicapping</h2>

<form action="/admin/view/golfers/handicap" method="post" accept-charset="utf-8">
<input type="hidden" name="prev_page_offset" value="{{ prev_page_offset }}">
<input type="hidden" id="this_page_offset" name="this_page_offset" value="{{ this_page_offset }}">
<input type="hidden" name="next_page_offset" value="{{ next_page_offset }}">
<input type="hidden" id="count" name="count" value="{{ count }}">

{% if golfers %}

<table>
<thead>
	<tr valign="bottom">
		<th></th>
		<th align="left">Golfer</th>
		<th align="center">Gender</th>
		<th align="left">Email/Phone</th>
		<th align="center">Modified</th>
		<th align="center">GHIN #</th>
		<th></th>
		<th align="center">Index</th>
		<th align="center">Avg.<br>Score</th>
		<th align="center">Tourn.<br>Index</th>
		<th align="center">Course<br>Handicap</th>
		<th align="center">Tees</th>
		<th align="left">Contact</th>
	</tr>
</thead>
<tbody>
{% for g in golfers %}
	<tr class="golfer" valign="baseline">
		<td align="right">{{ g.count }}
			<input type="hidden" name="key_{{ g.count }}" value="{{ g.golfer.key.urlsafe }}">
			<input type="hidden" name="hash_{{ g.count }}" value="{{ g.index_hash }}">
		</td>
		<td>{{ g.golfer_name }}</td>
		<td align="center">{{ g.golfer.gender }}</td>
		<td>
			{% if g.golfer.email %}<p><a href="mailto:{{ g.golfer.email }}">{{ g.golfer.email }}</a></p>{% endif %}
			{% if g.golfer.phone %}<p>{{ g.golfer.phone }}</p>{% endif %}
		</td>
		<td align="center">{% if g.golfer.index_info_modified %}<input type="checkbox" name="modified_{{ g.count }}" value="*" checked>{% endif %}</td>
		<td align="left"><input type="text" size="8" id="ghin_{{ g.count }}" name="ghin_{{ g.count }}" value="{{ g.golfer.ghin_number }}"></td>
		<td align="center" id="button_{{ g.count }}"></td>
		<td align="left"><input type="text" size="8" id="index_{{ g.count }}" name="index_{{ g.count }}" value="{{ g.handicap_index_str }}"></td>
		<td align="left"><input type="text" size="8" name="avg_score_{{ g.count }}" value="{{ g.golfer.average_score }}"></td>
		<td align="center">{% if g.golfer.has_index %}{{ g.handicap_index_str }}{% elif g.golfer.average_score %}{{ g.computed_index }}{% endif %}</td>
		<td align="center">{% if g.golfer.has_index or g.golfer.average_score %}{{ g.course_handicap }}{% endif %}</td>
		<td align="center">{% if g.tees == 1 %}Red{% elif g.tees == 2 %}White{% elif g.tees == 3 %}Blue{% endif %}</td>
		<td align="left"><a href="/register?id={{ g.sponsor_id }}">{{ g.sponsor_name }}</a></td>
	</tr>
{% endfor %}
</tbody>
</table>

<div class="buttons">
{% if prev_page_offset %}<input type="submit" name="prevpage" value="&larr; Previous Page">{% endif %}
<input type="submit" name="save" value="Save">
{% if next_page_offset %}<input type="submit" name="nextpage" value="Next Page &rarr;">{% endif %}
</div>

{% else %}

<p>No golfers.</p>

{% endif %}

</form>

{% endblock %}
