{% extends "wide.html" %}

{% load custom_filters %}

{% block title %}Registrations{% endblock %}

{% block head %}
<style type="text/css">
#body table { width: 100%; border: none; border-collapse: collapse; border-bottom: 2px solid #c4e5c4; margin-bottom: 2em; }
#body thead tr { border: none; border-bottom: 2px solid #c4e5c4; }
#body tbody tr { border: none; border-bottom: 1px solid #c4e5c4; }
#body tbody tr:hover { background-color: #e7fbe7; }
#body th { color: #6061ab; padding: 0.5em; font-size: 80%; }
#body td { padding: 0.5em; }
#body td.sponsor { background-color: white; font-weight: bold; padding-top: 1em; }
#body td.firstcol { padding-left: 2em; }
#body td p { margin: 0; }
#body td p.details { margin-left: 1em; font-size: 80%; color: #555; }
div.payment-details { display: none; }
span.disclosure { font-size: 80%; font-style: italic; margin-left: 0.5em; cursor: pointer; }
span.details { font-size: 80%; font-style: italic; margin-left: 0.5em; }
td button { margin-left: 0.5em; }
@media print {
  td button { display: none; }
}
</style>
<script type="text/javascript" language="javascript">
function toggle_display(i) {
	var div = document.getElementById('payment-details-' + i);
	if (div) {
		var disp_style = div.style.display;
		if (disp_style == 'block')
			disp_style = 'none';
		else
			disp_style = 'block';
		div.style.display = disp_style;
	}
};
</script>
{% endblock %}

{% block subnav %}
<ul class="viewnav">
	<li{% if incomplete == '' %} class="selected"{% endif %}><a href="/admin/view/registrations">All Registrations</a></li>
	<li><a href="/admin/view/golfers">Golfers by Sponsor</a></li>
	<li><a href="/admin/view/golfers/byname">Golfers by Name</a></li>
	<li><a href="/admin/view/golfers/byteam">Golfers by Team</a></li>
	<li><a href="/admin/view/golfers/bystart">Golfers by Start</a></li>
	<li><a href="/admin/view/golfers/handicap">Handicap</a></li>
	<li><a href="/admin/view/golfers/pairing">Pairing</a></li>
	<li><a href="/admin/view/dinners">Dinners</a></li>
	<li{% if incomplete == 'unpaid' %} class="selected"{% endif %}><a href="/admin/view/unpaid">Unpaid</a></li>
	<li{% if incomplete == 'incomplete' %} class="selected"{% endif %}><a href="/admin/view/incomplete">Incomplete</a></li>
	<li{% if incomplete == 'unconfirmed' %} class="selected"{% endif %}><a href="/admin/view/unconfirmed">Unconfirmed</a></li>
</ul>
{% endblock %}

{% block content %}
<h2>{% if incomplete %}{{ incomplete|capfirst }} {% endif %}Registrations</h2>

{% if sponsors %}
{% if incomplete == 'unpaid' or incomplete == 'incomplete' %}
<form action="/admin/mail/{{ incomplete }}" method="post" accept-charset="utf-8">
{% endif %}
<table>
<thead>
	<tr valign="bottom">
		<th align="left">ID</th>
		<th align="left">Contact</th>
		<th align="left">Address</th>
		<th align="left">Email/Phone</th>
		<th align="left">Sponsorship</th>
		<th align="right"># Golfers</th>
		<th align="right"># Dinners</th>
		<th align="left">Payment</th>
	</tr>
</thead>
<tbody>
{% for s in sponsors %}
	<tr valign="baseline">
		<td nowrap>{% if incomplete == 'unpaid' or incomplete == 'incomplete' %}<input type="checkbox" name="selected_items" value="{{ s.id }}">{% endif %}
		<a href="/register?id={{ s.id }}">{{ s.id }}</a></td>
		<td>{{ s.first_name }} {{ s.last_name }}</td>
		<td>
			{% if s.company %}<p>{{ s.company }}</p>{% endif %}
			{% if s.address %}<p>{{ s.address }}</p>{% endif %}
			{% if s.city %}<p>{{ s.city }} {{ s.state }} {{ s.zip }}</p>{% endif %}
		</td>
		<td>
			{% if s.email %}<p><a href="mailto:{{ s.email }}">{{ s.email }}</a></p>{% endif %}
			{% if s.phone %}<p>{{ s.phone }}</p>{% endif %}
			{% if s.fax %}<p>{{ s.fax }} (fax)</p>{% endif %}
		</td>
		<td>
			{% if s.go_discount_code %}
			<p>GO campaign {% if s.go_golfers > 12 %}(Angel){% else %}({{ s.go_golfers }} golfers){% endif %}</p>
			{% endif %}
			{% for ss in s.sponsorships %}
			<p>{{ ss|get_sponsorship_name }}</p>
			{% endfor %}
			{% if s.additional_donation %}
			<p>Additional donation: ${{ s.additional_donation }}</p>
			{% endif %}
			{% if s.sponsorships or s.additional_donation %}
			<p class="details">Print names as: {% if s.anonymous %}(Anonymous){% else %}{{ s.printed_names }}{% endif %}</p>
			{% endif %}
		</td>
		<td align="right">{{ s.num_golfers }}</td>
		<td align="right">{{ s.adjusted_dinners }}</td>
		<td nowrap>
			<p>Total: ${{ s.payment_due }}
			{% if capabilities.can_add_registrations and s.confirmed %}
			<a href="/register?id={{ s.id }}&page=1"><button name="edit_payment" type="button">Edit Payment</button></a>
			{% endif %}
			</p>
			{% if s.discount %}
			<p>Discount: ${{ s.discount }} {% if s.discount_type %}<span class="details">({{ s.discount_type }})</span>{% endif %}</p>
			{% endif %}
			{% if s.payment_made %}
			<p>Paid: ${{ s.payment_made }} <span class="disclosure"><a onclick="toggle_display({{ forloop.counter }});">details</a></span></p>
			<div id="payment-details-{{ forloop.counter }}" class="payment-details">
			<p class="details">Payment Type: {{ s.payment_type|default:'' }}</p>
			<p class="details">Transaction Code: {{ s.transaction_code|default:'' }}</p>
			<p class="details">Authorization Code: {{ s.auth_code|default:'' }}</p>
			</div>
			{% endif %}
			{% if s.net_due %}
			<p><b>Due: ${{ s.net_due }}</b></p>
			{% endif %}
		</td>
	</tr>
{% endfor %}
</tbody>
</table>

{% if incomplete == '' %}
<p><a href="/admin/csv/registrations"><button name="download" type="button">Download CSV</button></a></p>
{% endif %}
{% if incomplete == 'unpaid' or incomplete == 'incomplete' %}
<p>Send reminder e-mails to selected registrants:
<input type="submit" name="send" value="Send email"></p>
</form>
{% endif %}

{% else %}

<p>No {% if incomplete %}{{ incomplete }} {% endif %}registrations.</p>

{% endif %}
{% endblock %}
